<div class="mb-4">
  <h5>Ementa</h5>
  <div>
    <!-- <span [hidden]="showMais">
      <p>
        {{
          getResumo(proposicao?.etapas[proposicao?.etapas.length - 1]?.ementa)
        }}
      </p>
    </span> -->
    <span>
      <p class="text-color-3">{{ proposicao?.etapas[proposicao?.etapas.length - 1]?.ementa }}</p>
    </span>
    <!-- <button
      [hidden]="
        !getTemEmentaResumida(
          proposicao?.etapas[proposicao?.etapas.length - 1]?.ementa
        )
      "
      class="btn btn-light btn-xs ml-2 btn-border text-muted"
      (click)="toogleShowMais()"
    >
      <span [hidden]="showMais"><p>VER MAIS</p></span>
      <span [hidden]="!showMais"><p>VER MENOS</p></span>
    </button> -->
  </div>
</div>
