<h3 class="titulo-sessao">Tweets com mais engajamento</h3>
<p>Tweets cujo o parlamentar mencionou uma proposição</p>
<div class="d-flex">
  <app-tooltip-ajuda
    [posicao]="'top'"
    [descricao]="'Cada parlamentar corresponde a um círculo, que mostra a média de tweets  por mês e a proporção dos tweets do parlamentar que tratam desse tema e  agenda. O tamanho do círculo é a média da soma de curtidas, respostas e  retweets.'">
  </app-tooltip-ajuda>
</div>

<app-loading *ngIf="isLoading | async"></app-loading>

<div [hidden]="isLoading | async" >

  <div class="mt-2"
    *ngIf="tweetsInfo && tweetsList && !tweetsList.length">
    <p>
      Parlamentar não tem o seu perfil social cadastrado na base.
      Existem
      <strong>
        {{ tweetsInfo?.numero_parlamentares_sem_perfil }}
      </strong>
      parlamentares que não possuem atividade ou perfil no Twitter.
      <br>
      Foram capturados
      <strong>{{ tweetsInfo?.numero_total_tweets }}</strong>
      tweets de parlamentares entre
      <strong>
        {{ tweetsInfo?.tweet_mais_antigo | date:'dd/MM/yyyy' }}
      </strong>
      e
      <strong>
        {{ tweetsInfo?.tweet_mais_novo | date:'dd/MM/yyyy' }}
      </strong>
      .
    </p>

              
    
  </div>
  <div *ngIf="tweetsList">
    <blockquote  
      
      *ngFor="let _tweet of tweetsList"
      [innerHTML]="formatHtml(_tweet.text_html)">
      
    </blockquote>
  </div>


  
</div>

