@use '../shared/variables' as v;
@use '../shared/mixins' as m;

.painels-wrapper {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.left-painel {
  width: 50%;
  min-width: 675px;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-painel {
  img {
    position: absolute;
    width: 25%;
    margin: 2% 0 0 2%;
  }
}

.parla-logo-row {
  margin-top: 8%;
  font-size: 12px;
  color: v.$text-color-3;
  text-align: center;

  img {
    width: 180px;
    height: 20px;
  }

  a {
    font-size: 14px;
  }
}

@include m.fullscreen-background;

.cadastro-page {
  padding: 0;
  margin: 0;

  @include m.icons-eye;

  .new-user-form {
    position: relative;
    width: 100%;
  }

  .title {
    color: v.$primary-color;
    text-align: center;
    margin: 60px 0 10px 0;
  }

  .left-painel {

    .form-wrapper {
      display: flex;
      flex-direction: column;
      height: 70%;
      border: none;
      color: v.$primary-variant-color;
      font-weight: 500;

      .required {
        color: v.$warning-color;
      }

      .error {
        color: v.$warning-color;
        font-size: 12px;
      }

      .policies-error-message {
        margin-top: -28px;
      }

      .form-row {
        width: 600px;
        align-self: center;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        .form-col {
          max-width: 285px;
        }

        .form-col-full-width {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          justify-content: center;

          .btn-secondary {
            width: 240px;
            height: 40px;
            font-size: 12px;
            margin-top: 10px;
          }
        }
      }

      .check-policies-terms {
        margin-top: 25px;
        font-size: 12px;
        color: v.$text-color-3;
        line-height: 16px;

        input[type='checkbox'] {
          width: 16px;
          height: 16px;
        }
      }
    }

    .display-password-wrapper {
      display: flex;
      gap: 3px;
      cursor: pointer;

      &:hover {
        .display-password {
          color: v.$text-color-3;
        }
      }

      .display-password {
        color: v.$util-grey-color;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .login-redirect-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 15px;
    font-size: 12px;
    color: v.$text-color-3;

    img {
      width: 180px;
      height: 20px;
    }

    a {
      font-size: 14px;
    }
  }

  .new-user-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .creation-loading {
      ::ng-deep .spinner-border {
        width: 200px;
        height: 200px;
        color: v.$text-color-3;
      }
    }

    .new-user-success {
      position: relative;
      width: 600px;
      height: 600px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5rem;
      gap: 2.5rem;

      h5 {
        font-size: 16px;
        font-weight: 400px;
      }

      h2 {
        color: v.$primary-color;
        // margin-top: 2rem;
        text-align: center;
      }

      img {
        width: 180px;
        height: 20px;
      }

      .success-message {
        font-size: 14px;
        color: v.$text-color-3;
        text-align: justify;
        width: 310px;
        // margin-top: 2rem;
      }

      .goto-login {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 4rem;
      }
    }
  }
}
