.filtro-busca-wrapper {
  margin-bottom: 3rem;

  .search-number-results {
    margin-top: 4rem;

    span {
      font-size: 20px;
      font-weight: 500;
      color: #494b53;
    }
  }

  .casa-e-busca-wrapper {
    display: flex;
    align-items: center;
  }
}
