$aderencia-purple: #391774;
$aderencia-blue: #0A367C;

.aderencia {
  background-color: #FFF;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  box-shadow: 0px 11px 15px #34174a1a;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.aderencia-switchs-wrapper {
  border-right: #e5e6e7 1px solid;
}

.aderencia-graph-wrapper {
  margin-left: 2rem;
}

.poppins-gray {
  font-family: "Poppins";
  font-size: 13px;
  color: #81858D;
}


.switch-block-purple {
  color: $aderencia-purple;
}

.switch-block-blue {
  color: $aderencia-blue;
}

.switch-block {
  margin: 1rem 0;

  .title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  .slider {
    width: 82px;
    height: 16px;
    background: var(---e2e6ea) 0% 0% no-repeat padding-box;
    background: #E2E6EA 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #34174A3B;
    border-radius: 75px;
    opacity: 1;
  }

  .switch-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .switch-indicator {
    font-size: 14px;
  }

  .switch-indicator.inactive {
    color: #81858D;
  }

  .slider-roller {
    position: relative;
    top: -4px;
    left: 4px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #FFF;
    border-radius: 50%;

    &:hover {
      opacity: 0.7;
    }
  }

  .slider-roller-purple {
    border: solid 6px $aderencia-purple;
  }
  .slider-roller-blue {
    border: solid 6px $aderencia-blue;
  }
}

.parlamentares {
  border-top: solid 1px #a0a5a9;
  margin-top: 2rem;
  padding-top: 1rem;

  .total {
    color: #1D2029;
    font-weight: 400;
    font-size: 24px;
  }

  .votacoes {

  }
}

.veja-mais {
  display: flex;
  justify-content: center;

  img {
    position: relative;
    top: 12px;
    cursor: pointer;
  }
}

.tipo-aderencia {
  display: flex;

  span {
    font-size: 28px;
    font-weight: 500;
    color: $aderencia-purple;
  }

  img {
    cursor: pointer;
    margin-left: 8px;
    width: 16px;
  }
}