$aderencia-purple: #391774;
$aderencia-blue: #0A367C;

.aderencia {
  background-color: #FFF;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 2rem;
  box-shadow: 0px 11px 15px #34174a1a;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: column;
}

.switch-and-graph-wrapper {
  display: flex;
}

.aderencia-switchs-wrapper {
  width: 315px;
  border-right: #e5e6e7 1px solid;
  padding: 0 16px 0 40px;
}

.aderencia-graph-wrapper {
  margin-left: 2rem;
}

.poppins-gray {
  font-family: "Poppins";
  font-size: 13px;
  color: #81858D;
}

.parlamentares {
  border-top: solid 1px #a0a5a9;
  padding-right: 40px;
  margin-top: 2rem;
  padding-top: 1rem;

  .total {
    color: #1D2029;
    font-weight: 400;
    font-size: 24px;
  }
}

.veja-mais {
  display: flex;
  justify-content: center;

  img {
    position: relative;
    top: 12px;
    cursor: pointer;
  }
}

.tipo-aderencia {
  display: flex;

  span {
    font-size: 28px;
    font-weight: 500;
    color: $aderencia-purple;
  }

  img {
    cursor: pointer;
    margin-left: 8px;
    width: 16px;
  }
}