<div class="container app-container">

  <div class="row aderencia">
    <div class="col-sm-3 aderencia-switchs-wrapper">
      <div class="row">
        <div class="col-sm-12 switch-block switch-block-purple">
          <div class="row">
            <div class="col-sm-12 title">1 - Selecione o tipo de aderência</div>
            <div class="col-sm-12 switch-actions">
              <div class="switch-indicator">Governo</div>
              <div class="slider">
                <div class="slider-roller slider-roller-purple"></div>
              </div>
              <div class="switch-indicator inactive">Partido</div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 switch-block switch-block-blue">
          <div class="row">
            <div class="col-sm-12 title">2 - Selecione a casa</div>
            <div class="col-sm-12 switch-actions">
              <div class="switch-indicator">Senado</div>
              <div class="slider">
                <div class="slider-roller slider-roller-blue"></div>
              </div>
              <div class="switch-indicator inactive">Camara</div>
            </div>
          </div>
        </div>


          <div class="parlamentares">
            <div class="total">
              512 parlamentares
            </div>

            <div class="votacoes">
              26 votações apuradas
            </div>
          </div>
        </div>


    </div>

    <div class="col-sm-8 aderencia-graph-wrapper">
      <div class="row">
        <div class="col-sm-12 tipo-aderencia">
          <span>Governismo</span>
          <img src="../../assets/imgs/lampada.svg" alt="lampada" />
        </div>
        <div class="col-sm-12">
          <span class="poppins-gray">Exibição</span>
        </div>

        <div class="col-sm-12">
          <app-congresso-chart
            [parlamentares]="parlamentares"
            [parlamentaresCompleto]="parlamentaresCasa"
            [view]="view"
            [filter]="filtro"
            [modo]="'aderencia'"
            class="plot"
            (viewEvent)="setView($event)"
            (finishEvent)="setChartVisibility($event)"
          ></app-congresso-chart>
        </div>
      </div>
    </div>

    <div class="col-sm-12 veja-mais">
      <img src="../../assets/imgs/veja_mais_arrow.svg" alt="veja mais arrow" />
    </div>
  </div>
</div>