<div class="container app-container">

  <div class="row aderencia">
    <div class="col-sm-3 aderencia-switchs-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <app-aderencia-switch-block
            [title]="'1 - Selecione o tipo de aderência'"
            [textLeft]="'Governo'"
            [textRight]="'Partido'"
            [color]="'purple'"
          ></app-aderencia-switch-block>
        </div>

        <div class="col-sm-12">
          <app-aderencia-switch-block
            [title]="'2 - Selecione a casa'"
            [textLeft]="'Senado'"
            [textRight]="'Camara'"
            [color]="'blue'"
            (selectedChangedEvent)="casaChanged($event)"
          ></app-aderencia-switch-block>
        </div>

        <div class="parlamentares">
          <div class="total">
            512 parlamentares
          </div>

          <div class="votacoes">
            26 votações apuradas
          </div>
        </div>
      </div>


    </div>

    <div class="col-sm-8 aderencia-graph-wrapper">
      <div class="row">
        <div class="col-sm-12 tipo-aderencia">
          <span>Governismo</span>
          <img src="../../assets/imgs/lampada.svg" alt="lampada" />
        </div>
        <div class="col-sm-12">
          <span class="poppins-gray">Exibição</span>
        </div>

        <div class="col-sm-12">
          <app-congresso-chart
            [parlamentares]="parlamentares"
            [parlamentaresCompleto]="parlamentaresCasa"
            [view]="view"
            [filter]="filtro"
            [modo]="'aderencia'"
            class="plot"
            (viewEvent)="setView($event)"
            (finishEvent)="setChartVisibility($event)"
          ></app-congresso-chart>
        </div>
      </div>
    </div>

    <div class="col-sm-12 veja-mais">
      <img src="../../assets/imgs/veja_mais_arrow.svg" alt="veja mais arrow" />
    </div>
  </div>
</div>