<div class="card mb-2">
  <div class="card-header d-flex">
    <div class="card-atividade-id">{{ parlamentar?.indice + 1 }}</div>
    <div class="card-atividade-titulo">
      <a [routerLink]="[parlamentar.id_autor_parlametria]">{{ parlamentar.nome_autor }}</a>
      <span class="text-muted">
        {{ parlamentar.partido }}/{{ parlamentar.uf }}
      </span>
    </div>
  </div>
  <div class="card-body">
    <div>
      <a [routerLink]="[parlamentar.id_autor_parlametria]">
        <app-progress
          [label]="'Congresso'"
          [barraClasse]="'bg-primary'"
          [valor]="parlamentar.atividade_parlamentar"
          [exibirLabel]="id === 0"></app-progress>
      </a>
    </div>
    <div class="space-between-bars">
      <a [routerLink]="[parlamentar.id_autor_parlametria]">
        <app-progress
          [label]="'Twitter'"
          [barraClasse]="'bg-twitter'"
          [valor]="parlamentar.atividade_twitter"
          [exibirLabel]="id === 0"></app-progress>
      </a>
    </div>
    <div class="insignias">
      <div>
        <span
          class="cracha"
          *ngIf="parlamentar.quantidade_autorias"
          [ngbPopover]="popAutorias">
          <span class="icon-autor app-icon text-danger"></span>
          <span class="badge badge-danger app-badge badge-color-white">{{ parlamentar.quantidade_autorias }}</span>
          <ng-template #popAutorias>
            <strong>Autor</strong>
            &nbsp;de {{ parlamentar.quantidade_autorias }}
            <span *ngIf="parlamentar.quantidade_autorias === 1">&nbsp;proposição</span>
            <span *ngIf="parlamentar.quantidade_autorias !== 1">&nbsp;proposições</span>
          </ng-template>
        </span>

        <span
          class="cracha"
          *ngIf="parlamentar.quantidade_relatorias"
          [ngbPopover]="popRelatorias">
          <span class="icon-relator app-icon text-success"></span>
          <span class="badge badge-success app-badge badge-color-white">{{ parlamentar.quantidade_relatorias }}</span>
          <ng-template #popRelatorias>
            <strong>Relator</strong>
            &nbsp;de {{ parlamentar.quantidade_relatorias }}
            <span *ngIf="parlamentar.quantidade_relatorias === 1">&nbsp;proposição</span>
            <span *ngIf="parlamentar.quantidade_relatorias !== 1">&nbsp;proposições</span>
          </ng-template>
        </span>

        <span
          class="cracha"
          *ngIf="parlamentar.quantidade_comissao_presidente"
          [ngbPopover]="popPresidencia">
          <span class="icon-presidente app-icon text-warning"></span>
          <span class="badge badge-warning app-badge badge-color-white">
            {{ parlamentar.quantidade_comissao_presidente }}
          </span>
          <ng-template #popPresidencia>
            <strong>Presidente</strong>
            &nbsp;de {{ parlamentar.quantidade_comissao_presidente }}
            <span *ngIf="parlamentar.quantidade_comissao_presidente === 1">&nbsp;comissão</span>
            <span *ngIf="parlamentar.quantidade_comissao_presidente !== 1">&nbsp;comissões</span>
          </ng-template>
        </span>
      </div>
      <div>
        <app-avaliacao
          [label]="'Peso'"
          [valor]="parlamentar.peso_politico * 5"
          [exibirLabel]="id === 0"></app-avaliacao>
      </div>
    </div>
    <!-- <a [routerLink]="[parlamentar.id_autor_parlametria]" class="stretched-link" queryParamsHandling="merge"></a> -->
  </div>
</div>
