$base-color: #20201e;
$base-padding: 0.5rem;

.card {
  margin-top: 35px;
}

.card-atividade-titulo {
  margin-right: auto;
  line-height: 1.7rem;
  width: 100%;
  text-align: center;

  .card-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .card-partido {
    font-size: 13px;
  }
}

.card-header {
  padding: 4.5rem .5rem .2rem;
  background: white;
}

hr {
  margin: 0 0.5rem;
  border-top: 1px solid #E2E6EA;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #efefef;
  img {
    width: 100%;
  }
}

.card-progress {
  display: flex;
  app-progress {
    flex: 1;
    margin-right: 5px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
  }
}

.insignias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $base-padding;
}

.card-side {
  @media (min-width: 576px) {
    margin-top: 1rem;
  }
}

.card-side-icons {
  margin-bottom: 4px;
}
