$base-color: #20201e;
$base-padding: 0.5rem;

.card-atividade-id {
  width: 52px;
  min-width: 42px;
  background-color: $base-color;
  padding: .25rem .5rem;
  margin-right: $base-padding;
  color: #fff;
  text-align: center;
  font-size: .8rem;
}

.card-atividade-titulo {
  margin-right: auto;
  line-height: 1.7rem;
}

.insignias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $base-padding;
}

.badge-color-white {
  color: #ffffff;
}
