<h3>
  Atuação parlamentar
  <img
    [ngbPopover]="alertaTip"
    triggers="mouseenter:mouseleave"
    src="/assets/icons/popover_icon.svg"
    alt=""
  />
  <ng-template #alertaTip>
    Evidencia aderência à oposição ou ao Centro/Governo, a partir das ações
    do parlamentar - proposições e intervenções no processo legislativo.
  </ng-template>
</h3>
<app-loading *ngIf="isLoading | async"></app-loading>
<div [hidden]="isLoading | async">
  <div class="mt-2">
    <p>Dados de atuação parlamentar a partir de 2019.</p>
  </div>
  <div class="my-2">
    <div class="legend">
      <app-legend
        [title]="'Proposição'"
        [classe]="'bg-proposicao'"
      ></app-legend>

      <app-legend [title]="'Emenda'" [classe]="'bg-emenda'"></app-legend>

      <app-legend
        [title]="'Requerimento'"
        [classe]="'bg-requerimento'"
      ></app-legend>
    </div>
  </div>
  <div class="row">
    <div class="col-5 offset-1">
      <h4 class="">Oposição</h4>
      <div
        class="mb-2 atuacao-body"
        *ngFor="
          let parlamentar of atuacaoOp
            | paginate: { itemsPerPage: 5, currentPage: p };
          index as i
        "
      >
        <div class="autor">
          <a
            [routerLink]="['/', 'parlamentares', parlamentar?.values[0].id_autor_parlametria]"
            [queryParams]="{'interesse': interesse}"
          >
            <span *ngIf="parlamentar?.values[0].casa_autor === 'camara'"
              >Dep.</span
            >
            <span *ngIf="parlamentar?.values[0].casa_autor === 'senado'"
              >Sen.</span
            >
            {{ parlamentar?.values[0].nome_autor }}
            <span *ngIf="parlamentar?.values[0].bancada === 'oposição'">
              {{ parlamentar?.values[0].partido }}
            </span>
            <span *ngIf="parlamentar?.values[0].bancada === 'governo'">
              {{ parlamentar?.values[0].partido }}
            </span>
            /{{ parlamentar?.values[0].uf }}
          </a>
        </div>
        <div class="barra">
          <div class="barra-progresso">
            <app-progress-stacked
              [categorias]="parlamentar?.values"
              [min]="0"
              [max]="maximoDocumentos"
              [score]="parlamentar?.soma_documentos"
            ></app-progress-stacked>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h4>Centro/Governo</h4>
      <div
        class="mb-2 atuacao-body"
        *ngFor="
          let parlamentar of atuacaoGov
            | paginate: { itemsPerPage: 5, currentPage: p };
          index as i
        "
      >
        <div class="autor">
          <a
            [routerLink]="['/', 'parlamentares', parlamentar?.values[0].id_autor_parlametria]"
            [queryParams]="{'interesse': interesse}"
          >
            <span *ngIf="parlamentar?.values[0].casa_autor === 'camara'"
              >Dep.</span
            >
            <span *ngIf="parlamentar?.values[0].casa_autor === 'senado'"
              >Sen.</span
            >
            {{ parlamentar?.values[0].nome_autor }}
            <span *ngIf="parlamentar?.values[0].bancada === 'oposição'">
              {{ parlamentar?.values[0].partido }}
            </span>
            <span *ngIf="parlamentar?.values[0].bancada === 'governo'">
              {{ parlamentar?.values[0].partido }}
            </span>
            /{{ parlamentar?.values[0].uf }}
          </a>
        </div>
        <div class="barra">
          <div class="barra-progresso">
            <app-progress-stacked
              [categorias]="parlamentar?.values"
              [min]="0"
              [max]="maximoDocumentos"
              [score]="parlamentar?.soma_documentos"
            ></app-progress-stacked>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-template
    #pag="paginationApi"
    maxSize="5"
    (pageChange)="pageChange($event)"
  >
    <nav aria-label="Paginação" class="pb-1">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <button
            type="button"
            class="page-link"
            [disabled]="pag.isFirstPage()"
            (click)="pag.previous()"
          >
            &lt;
          </button>
        </li>
        <li
          class="page-item"
          *ngFor="let page of pag.pages"
          [class.active]="pag.getCurrent() === page.value"
        >
          <button
            type="button"
            class="page-link"
            (click)="pag.setCurrent(page.value)"
          >
            {{ page.label }}
          </button>
        </li>
        <li class="page-item">
          <button
            type="button"
            class="page-link"
            [disabled]="pag.isLastPage()"
            (click)="pag.next()"
          >
            &gt;
          </button>
        </li>
      </ul>
    </nav>
  </pagination-template>
</div>
