.legend {
  display: flex;
  flex-wrap: wrap;
}

.legend-title {
  margin-right: 1rem;
}

.atuacao-body {
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
  }
}

.barra {
  display: flex;
  width: 75%;
  height: 32px;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.autor {
  width: 25%;
  font-size: 0.9rem;
  margin-right: 5px;
  text-align: right;

  @media (max-width: 992px) {
    width: 100%;
    text-align: left;
  }
}

.barra-progresso {
  width: 100%;
}

.barra-score {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
