.legend {
  display: flex;
  flex-wrap: wrap;
}

.legend-title {
  margin-right: 1rem;
}

.barra {
  display: flex;
  height: 32px;
}

.autor {
  font-size: 0.9rem;
  margin-right: 5px;
}

.barra-progresso {
  width: 100%;
}

.barra-score {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
