<app-loading *ngIf="isLoading | async"></app-loading>
<div class="detalhes-proposicoes-conteiner">
  <div class="top-info-container">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-proposicao">
          <li class="breadcrumb-item">
            <a [routerLink]="['../']" class="btn btn-sm btn-light">
              &lt; Proposicões
            </a>
          </li>
        </ol>
      </nav>
      <div [hidden]="isLoading | async" class="mt-4 row">
        <div class="col">
          <h4>
            {{ proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla }}
          </h4>

          <div>
            <h5
              *ngIf="
                proposicao?.interesse[0]?.apelido &&
                proposicao?.interesse[0]?.apelido !== 'nan'
              "
              class="text-muted mb-4"
            >
              <strong>{{ proposicao?.interesse[0]?.apelido }}</strong>
            </h5>
            <app-situacao-proposicao
              [proposicao]="proposicao"
            ></app-situacao-proposicao>
            <span
              class="tag badge badge-gray"
              *ngIf="
                proposicao?.interesse[0]?.advocacy_link &&
                proposicao?.interesse[0]?.advocacy_link !== 'nan'
              "
              [ngbPopover]="popAdvocacy"
              [autoClose]="'outside'"
            >
              advocacy box
            </span>
            <ng-template #popAdvocacy>
              Existem notas técnicas de OSCs disponíveis para esta proposição.
              <div class="text-right">
                <a
                  href="{{ proposicao?.interesse[0]?.advocacy_link }}"
                  target="_blank"
                  class="btn btn-link btn-sm"
                >
                  Ver notas
                </a>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="col-5"></div>
      </div>
      <div [hidden]="isLoading | async" class="row">
        <div class="col">
          <app-ementas [proposicao]="proposicao"></app-ementas>
        </div>
        <div class="col-5">
          <app-lista-locais-atuais
            *ngIf="
              proposicao?.etapas[proposicao?.etapas.length - 1]?.status ===
              'Ativa'
            "
            [locais]="proposicao?.locaisProposicao"
          >
          </app-lista-locais-atuais>
        </div>
      </div>
      <div [hidden]="!showDetails" class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <app-lista-autores
                [autores]="proposicao?.autoresProposicao"
              ></app-lista-autores>
            </div>
            <div class="col-5">
              <app-lista-relatores
                [etapas]="proposicao?.etapas"
                [interesse]="proposicao?.interesse[0]?.interesse"
              ></app-lista-relatores>
            </div>
          </div>
        </div>
        <div class="col-5">
          <app-assuntos-relacionados
            [proposicao]="proposicao"
          ></app-assuntos-relacionados>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-md-center mt-3">
        <button
          (click)="toogleShowDetails()"
          [hidden]="!showDetails"
          class="button-show button-show-less"
        >
          <span
            ><img src="../../../assets/imgs/chevron-solid.svg" alt="chevron"
          /></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <button
        (click)="toogleShowDetails()"
        [hidden]="showDetails"
        class="button-show button-show-more"
      >
        <span
          ><img src="../../../assets/imgs/chevron-solid.svg" alt="chevron"
        /></span>
      </button>
    </div>
  </div>
  <div class="modals-container">
    <div class="container">
      <div class="modal-content mt-5 mb-5">
        <app-temperatura-pressao></app-temperatura-pressao>
      </div>
      <div class="modal-content mt-5 mb-5">
        <app-progresso></app-progresso>
      </div>
      <div class="modal-content mt-5 mb-5">
        <app-atuacao-parlamentar></app-atuacao-parlamentar>
      </div>
      <div class="modal-content mt-5 mb-5">
        <app-rede-influencia></app-rede-influencia>
      </div>
    </div>
  </div>
</div>
