$base-color: #20201e;

.proposicao-temas {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.text-style-proposicoes p {
  font-size: 13px;
}

.text-style-proposicoes h3 {
  font-size: 15px;
}

.text-style-proposicoes h2 {
  font-size: 20px;
}
