$base-color: #20201e;

.proposicao-tema {
    font-size: 14px;
}

.proposicao-apelido {
    font-size: 32px;
    font-weight: 50;
    color: rgb(68, 68, 68);
}

.proposicao-tramitacao {
    font-size: 14px;
}

.proposicao-casa-label {
    font-size: 14px;
    color: grey;
}

.proposicao-casa {
    color: rgba(192, 31, 184, 0.877);
}

.proposicao-autor-label {
    font-size: 14px;
    color: grey;
}

.proposicao-relator-label {
    font-size: 14px;
    color: grey;
}
