<app-loading *ngIf="isLoading | async"></app-loading>
<div class="detalhes-proposicoes-conteiner">
  <div class="top-info-container pb-5">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['../']" class="btn btn-sm btn-light">
              &lt; Proposicões
            </a>
          </li>
        </ol>
      </nav>
      <div [hidden]="isLoading | async" class="mt-4 text-style-proposicoes row">
        <div class="col">
          <h2>
            {{ proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla }}
          </h2>

          <div>
            <h3
              *ngIf="
                proposicao?.interesse[0]?.apelido &&
                proposicao?.interesse[0]?.apelido !== 'nan'
              "
              class="text-muted mb-4"
            >
              <strong>{{ proposicao?.interesse[0]?.apelido }}</strong>
            </h3>
            <app-situacao-proposicao
              [proposicao]="proposicao"
            ></app-situacao-proposicao>
            <span
              class="tag badge badge-gray"
              *ngIf="
                proposicao?.interesse[0]?.advocacy_link &&
                proposicao?.interesse[0]?.advocacy_link !== 'nan'
              "
              [ngbPopover]="popAdvocacy"
              [autoClose]="'outside'"
            >
              advocacy box
            </span>
            <ng-template #popAdvocacy>
              Existem notas técnicas de OSCs disponíveis para esta proposição.
              <div class="text-right">
                <a
                  href="{{ proposicao?.interesse[0]?.advocacy_link }}"
                  target="_blank"
                  class="btn btn-link btn-sm"
                >
                  Ver notas
                </a>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="col-5"></div>
      </div>
      <div [hidden]="isLoading | async" class="row">
        <div class="col">
          <app-ementas [proposicao]="proposicao"></app-ementas>
        </div>
        <div class="col-5">
          <app-lista-locais-atuais
            *ngIf="
              proposicao?.etapas[proposicao?.etapas.length - 1]?.status ===
              'Ativa'
            "
            [locais]="proposicao?.locaisProposicao"
          >
          </app-lista-locais-atuais>
        </div>
      </div>
      <div [hidden]="isLoading | async" class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <app-lista-autores
                [autores]="proposicao?.autoresProposicao"
              ></app-lista-autores>
            </div>
            <div class="col-5">
              <app-lista-relatores
                [etapas]="proposicao?.etapas"
                [interesse]="proposicao?.interesse[0]?.interesse"
              ></app-lista-relatores>
            </div>
          </div>
        </div>
        <div class="col-5">
          <app-assuntos-relacionados
            [proposicao]="proposicao"
          ></app-assuntos-relacionados>
        </div>
      </div>

      <!-- <div class="view-subnav">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./temperatura-pressao']"
            [routerLinkActive]="'active'"
            queryParamsHandling="merge"
          >
            <span class="icon-temperatura"></span>
            Temperatura e pressão
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./progresso']"
            [routerLinkActive]="'active'"
            queryParamsHandling="merge"
          >
            <span class="icon-progresso"></span>
            Progresso
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./atuacao']"
            [routerLinkActive]="'active'"
            queryParamsHandling="merge"
          >
            <span class="icon-atividade"></span>
            Atuação parlamentar
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./rede-de-influencia']"
            [routerLinkActive]="'active'"
            queryParamsHandling="merge"
          >
            <span class="icon-grafo"></span>
            Rede de influência
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="py-4">
        <router-outlet></router-outlet>
      </div>
    </div> -->
    </div>
  </div>
  <div class="modals-container">
    <div class="container">
      <div class="modal-content mt-5 mb-5">
        <app-temperatura-pressao></app-temperatura-pressao>
      </div>
      <div class="modal-content mt-5 mb-5">
        <app-progresso></app-progresso>
      </div>
      <div class="modal-content mt-5 mb-5">
        <app-atuacao-parlamentar></app-atuacao-parlamentar>
      </div>
      <div class="modal-content mt-5 mb-5">
        <app-rede-influencia></app-rede-influencia>
      </div>
    </div>
  </div>
</div>
