$base-color: #20201e;

.detalhes-proposicoes-conteiner {
  background-color: #F8F6Fb;
}

.top-info-container {
  background-color: white;
  box-shadow: 0px 11px 15px #34174A1A;
  border-radius: 0px 0px 40px 40px;
  opacity: 1;
}

.proposicao-temas {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.modal-content {
  background-color: white;
  padding: 0px 15px;
  border: none;
  box-shadow: 0px 2px 5px #34174A1A;
  border-radius: 2px;
}
