<div class="container sobre-container">
  <section class="mt-3 mb-5">
    <h3 class="intro-title text-center">Sobre</h3>
  </section>
  <section class="section">
    <div class="row">
      <div class="col-lg-6 pb-4">
        <h4 class="footer-title">Leggo Painel</h4>
        <p>
          A plataforma coleta e analisa uma série de dados da
          <strong class="strong">Câmara dos Deputados</strong>
          e
          <strong class="strong">Senado Federal</strong>
          com a finalidade de acompanhar a atividade do Congresso Nacional, conhecendo a atuação parlamentar e a tramitação das proposições monitoradas.
        </p>
      </div>
      <div class="col-lg-6 pb-4">
        <h4 class="footer-title">Nosso objetivo</h4>
        <p>
          Complementar as informações de acompanhamento já disponíveis, usando ciência de dados e aprendizagem de máquina para facilitar o trabalho de advocacy. Acreditamos no poder da tecnologia para diminuir a assimetria de informação e empoderar o cidadão e a sociedade civil na construção de uma <strong class="strong">democracia colaborativa</strong>.
        </p>
      </div>
    </div>
  </section>
  <section class="section mb-5">
    <h4 class="footer-title">Como ajudar neste projeto?</h4>
    <p>
      Nosso
      <a
        class="strong2"
        href="https://github.com/parlametria"
      >
        código
      </a>
      é aberto! ❤
    </p>
  </section>
</div>
<div class="section-inverse mb-4">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h4 class="footer-title-importantes float-title">Porque somos importantes?</h4>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <p class="featured-box">
          O Parlamento brasileiro produz uma série de decisões com  impacto na vida da sociedade. Muitas dessas decisões podem ser rastreáveis a partir da coleta e análise de dados.
        </p>
      </div>
      <div class="col-md-4">
        <p class="featured-box">
          Esse trabalho, no entanto, exige algum conhecimento técnico, nem sempre disponível para o cidadão ou para parte da sociedade civil organizada.
        </p>
      </div>
      <div class="col-md-4">
        <p class="featured-box">
          O Leggo Painel, portanto, procura atender a essa demanda: utilizar a inteligência de dados para a ação cidadã, nos temas e assuntos que interessam à sociedade acompanhar e influenciar a atuação do Legislativo.
        </p>
      </div>
    </div>
  </div>
</div>
<section class="section mb-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h4 class="footer-title">Realização</h4>
        <div class="d-flex align-items-center mt-2">
          <div class="col">
            <img
              src="assets/imgs/logo_dadocapital.jpg"
              alt="Dado Capital"
              width="100%"
              class="img-logo"
            >
          </div>
          <div class="col">
            <img
              src="assets/imgs/logo_ufcg.jpg"
              alt="UFCG"
              width="100%"
              class="img-logo"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

