.sobre-container {
  padding-top: 15px;
}

h2 {
  font-size: 1.9rem;
}

.footer-title {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
}

.footer-title-importantes {
  display: inline-block;
  padding: 0.5rem;
  background-color: #9cdb52;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}

.strong2 {
  color: #6a46a3;
}

.intro-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  max-width: 720px;
}

.intro-title > strong {
  color: #9cdb52;
}

.section-inverse {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #6a46a3;
  color: #ffffff;
}

.featured-box {
  border-left: solid 8px #9cdb52;
  padding-left: 1rem;
  padding-right: 1rem;
}

.float-title {
  margin-top: -45px;
  margin-bottom: 30px;
}

.img-logo {
  max-width: 150px;
  margin-bottom: 1rem;
}
