$base-padding: 0.5rem;

.temas {
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  font-size: 0.85rem;
}

.proposicao-title {
  font-size: 1.15rem;
}

.pointer {
  cursor: pointer;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $base-padding;
}

.barra-em-alta {
  padding-right: 0;
}

.badge-em-alta {
  font-size: 100%;
  border-radius: 50%;
}