@import "../../shared/variables.scss";

$base-padding: 1rem;
$size: 13px;

.card {
  .card-header {
    height: 48px;
    padding: 0;
    background-color: #ffffff;
    border:1px solid #e7e7e7;

    .house-name {
      font-size: 12px;
      font-weight: bold;
      color: inherit;
    }

    img {
      width: 70px;
      height: 70px;
      margin-left: -15px;
    }
  }

  .card-body {
    span {
      display: block;
    }
    .ementa-block {
      .ementa-label {
        font-size: 16px;
        font-weight: 500;
        color: $text-label-color;
      }
      p {
        color: $text-basic-color;
        font-size: 14px;
      }
    }
    .etapa-tramitacao-block {
      p {
        color: $text-basic-color;
        font-size: 14px;
      }
      a {
        cursor: pointer;
      }
    }
    .etapas-steps {
      display: flex;
      align-items: center;
      & > div {
        &:not(:last-child) {
          .line-between-divs {
            border: 2px solid #575757;
            width: 30px;
          }
        }
      }
    }
    .card-label {
      font-size: 16px;
      color: $text-label-color;
      text-transform: uppercase;
    }
    .temperatura-block {
      margin-bottom: 1rem;
      .card-label {
        margin-bottom: 10px;
      }
    }
    .pressao-block {
      margin-bottom: 1rem;
      .card-label {
        margin-bottom: 10px;
      }
    }
  }
}

.temas {
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  font-size: 0.85rem;
}

.proposicao-info {
  font-size: 0.85rem;
}

.pointer {
  cursor: pointer;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $base-padding;
}

.badge-em-alta {
  font-size: 100%;
  border-radius: 50%;
}

.card-muted {
  border-color: #adb5bd;
  background-color: #f8f9fa;
}

.card-header-muted {
  background-color: #f8f9fa;
}

.house-camara,
.house-senado {
  height: 49px;
  border-right: 7px solid;
  margin-left: 2px;
  margin-bottom: 1px;
}

.house-camara {
  color: $camara-color;
}

.house-senado {
  color: $senado-color;
}

.house-symbol-camara,
.house-symbol-senado {
  width: $size * 2;
  height: $size;
}

.house-symbol-camara {
  border-bottom-left-radius: $size * 2;
  border-bottom-right-radius: $size * 2;
  background: $camara-color;
}

.house-symbol-senado {
  border-top-left-radius: $size * 2;
  border-top-right-radius: $size * 2;
  background: $senado-color;
}
