$base-padding: 0.5rem;
$size: 13px;

.temas {
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  font-size: 0.85rem;
}

.proposicao-title {
  font-size: 1.5rem;
}

.proposicao-info {
  font-size: 0.85rem;
}

.pointer {
  cursor: pointer;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $base-padding;
}

.badge-em-alta {
  font-size: 100%;
  border-radius: 50%;
}

.card-muted {
  border-color: #adb5bd;
  background-color: #f8f9fa;
}

.card-header-muted {
  background-color: #f8f9fa;
}

.house-symbol-camara,
.house-symbol-senado {
  width: $size * 2;
  height: $size;
}

.house-symbol-camara {
  border-bottom-left-radius: $size * 2;
  border-bottom-right-radius: $size * 2;
  background: #00B53C;
}

.house-symbol-senado {
  border-top-left-radius: $size * 2;
  border-top-right-radius: $size * 2;
  background: #0a367c;
}
