<h3 class="titulo-sessao">Proposições mais mencionadas em tweets</h3>
<div class="vis">
  <div
    class="row gutters-sm"
    *ngFor="let proposicao of proposicoesComMaisTweets|slice:0:numeroProposicoes">
    <div class="col-3 text-right">{{ proposicao.sigla }}</div>
    <div class="col">
      <app-progress
        [barraClasse]="'bg-twitter'"
        [min]="minComentariosPeriodo"
        [max]="maxComentariosPeriodo"
        [valor]="proposicao.num_tweets"
        [label]="proposicao.num_tweets">
      </app-progress>
    </div>
    <div class="col-1">{{ proposicao.num_tweets }}</div>
  </div>
</div>

<div *ngIf="proposicoesComMaisTweets?.length > NUMERO_PROPOSICOES"
  class="mt-2">
  <button
    class="btn btn-light btn-xs"
    (click)="toogleShowProposicoes()">
    <span [hidden]="numeroProposicoes === NUMERO_PROPOSICOES">ver apenas as mais mencionadas</span>
    <span [hidden]="numeroProposicoes > NUMERO_PROPOSICOES">ver todas as proposições</span>
  </button>
</div>
