<h3 class="titulo-sessao">Proposições mais mencionadas em tweets</h3>
<div class="vis">
  <div
    class="row gutters-sm"
    *ngFor="let proposicao of proposicoesComMaisTweets">
    <div class="col-3 text-right">{{ proposicao.sigla }}</div>
    <div class="col">
      <app-progress
        [barraClasse]="'bg-twitter'"
        [min]="minComentariosPeriodo"
        [max]="maxComentariosPeriodo"
        [valor]="proposicao.num_tweets"
        [label]="proposicao.num_tweets">
      </app-progress>
    </div>
    <div class="col-1">{{ proposicao.num_tweets }}</div>
  </div>
</div>
