.legend-info {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-right: 0.5rem;
}

.legend-title {
  font-size: 0.8rem;
  line-height: 23px;
  margin-right: 1rem;
  word-wrap: break-word;
}

.legend-rounded {
  border-radius: 50%;
  border: solid 1px #adb5bd;
}

.alinhamento-5 {
  background-color: #247fb5;
}

.alinhamento-4 {
  background-color: #6b92a5;
}

.alinhamento-3 {
  background-color: #c6ac8d;
}

.alinhamento-2 {
  background-color: #c17a66;
}

.alinhamento-1 {
  background-color: #b54142;
}

.alinhamento-indefinido {
  background-color: #eceff4;
}
