<app-loading *ngIf="isLoading | async"></app-loading>
<div [hidden]="isLoading | async">
  <h3>Ações parlamentares</h3>
  <p>Ações do parlamentar ponderadas pelo número de coautores.</p>

  <div class="proposicao-por-interesse">

    <select (change)="interesseSelecionado($event.target.value)" class="app-seletor">
      <option
        *ngFor="let interesse of interesses"
        [value]="interesse.interesse"
        [selected]="interesse.interesse === selectedInteresse.interesse"
      >
        {{interesse.nome_interesse}}
      </option>
    </select>
  </div>

  <div *ngIf="!parlamentar">
    Não foi registrada atuação nas proposições selecionadas.
  </div>

  <div class="d-flex">
    <div class="vis-atividade">
      <app-vis-atividade-detalhada
        [idAtor]="idAtor"></app-vis-atividade-detalhada>
    </div>
    <div class="vis-detalhes" *ngIf="parlamentar?.ranking_documentos">
      <p>
        <strong>{{ parlamentar?.ranking_documentos }}°</strong>
        parlamentar mais atuante 
        <span *ngIf="interesse">neste painel. </span>
      </p>
      <p>
        Das <strong>{{ totalDocs }}</strong> ações,
        <span *ngFor="let autoria of autoriasPorTipo; let i = index">
          <strong>{{ autoria.values.length }}</strong>
          {{formataTipo(autoria.key, autoria.values.length, (i + 1) === autoriasPorTipo.length)}}
        </span>
      </p>
    </div>
  </div>
</div>
