.texto-auxiliar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.titulo-linha {
  display: flex !important;
  align-items: baseline;
}

.icone {
  display: inline-block;
  margin-left: 0.5rem;
  height: 3rem;
  width: 3rem;
}
