.texto-auxiliar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.titulo-linha {
  display: flex !important;
  align-items: baseline;
}

.icone {
  margin-left: 0.5rem;
  font-size: 2rem;
}
