<a class="texto-auxiliar">Ações do parlamentar ponderadas pelo número de coautores</a>
<div class="titulo-linha">
  <h3 class="titulo-sessao titulo">Por Tipo</h3>
  <ng-template #tipContent>
    Cada traço representa um parlamentar que atuou neste tema. A quantidade de ações do parlamentar atual é representada pela posição do traço preto.
  </ng-template>
  <i
    type="button"
    class="icon-ajuda title-icon"
    placement="right"
    [ngbTooltip]="tipContent"
    triggers="hover:blur"></i>
</div>
<app-vis-atividade-parlamentar
  [idAtor]="idAtor"
  [interesse]="interesse"></app-vis-atividade-parlamentar>
<h3 class="titulo-sessao">Por Proposição</h3>
<app-vis-atividade-detalhada
  [idAtor]="idAtor"
  [interesse]="interesse"></app-vis-atividade-detalhada>
