<div class="pb-4 my-4">
  <div class="app-content">
    <div class="filtro-wrapper mb-4">
      <span>Proposições &nbsp;</span>
      <select
        class="app-seletor"
        #selectorStatus
        (change)="onChangeStatus($event.target.value)"
        [(ngModel)]="statusSelecionado">
        <option
          *ngFor="let s of status"
          [value]="s.statusValue"
          [selected]="s.statusValue === statusSelecionado">
          {{ s.statusName }}
        </option>
      </select>
      <span>ordenadas por &nbsp;</span>
      <select
        class="app-seletor"
        #mySelector
        (change)="onChangeOrderBy($event.target.value)"
        [(ngModel)]="orderBySelecionado">
        <option
          *ngFor="let o of orderBy"
          [value]="o.order_by"
          [selected]="o.order_by === orderBySelecionado">
          {{ o.order }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="searchProposicao"
        [(ngModel)]="proposicaoPesquisada"
        (ngModelChange)="aplicarFiltro()"
        placeholder="Buscar proposição...">
    </div>
  </div>
</div>
