@import "../../shared/variables.scss";

.filtro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  .card-body {
    .total-subtitle {
      display: block;
      font-size: 12px;
      color: $text-color-3;
      margin-top: -10 px;
      padding-left: 10px;
    }
    .numero-proposicoes {
      display: flex;
      font-size: 18px;
      padding-left: 10px;
      margin: 10px 0 2rem;

      img {
        margin-right: 10px;
      }
    }
    .order {
      margin-bottom: 1rem;
    }
    .temp-and-press-filters {
      margin-bottom: 1rem;
      .filter-label {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        h6 {
          margin: 0;
        }
      }
      button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 13px 7px;
        border: 1px solid $util-light-grey-color;
        flex: 1;

        &.btn-selected {
          background-color: $primary-variant-color;
          color: #ffffff;

          svg {
            fill: white;
          }
        }
      }
    }
    .assunto-filter,
    .local-filter {
      select {
        height: 46px;
      }
    }
    .tramitacao-filter,
    .fase-filter {
      .checkbox-control {
        font-family: system-ui, sans-serif;
        font-size: 16px;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
        font-family: "Poppins";
      }

      input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: #ffffff;
        /* Not removed via appearance */
        margin: 0;

        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;
      }

      input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #ffffff;
      }

      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }

      input[type="checkbox"]:checked {
        background-color: $primary-variant-color;
      }
    }

    .clear-filter {
      cursor: pointer;
      text-align: right;
      margin: 15px 0;
      color: $text-color-3;
    }

    .legendas-block {
      .legenda {
        display: flex;
        justify-content: start;
        margin: 15px 0;
        align-items: center;

        img {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}
