<div class="filtro-wrapper mt-4 mb-4">
  <div class="col-lg-8">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="searchProposicao"
        [(ngModel)]="proposicaoPesquisada"
        (ngModelChange)="aplicarFiltro()"
        placeholder="Buscar proposição...">
    </div>
    <div class="filtro-wrapper">
      <select class="seletor-ordenacao app-seletor"
        #mySelector
        (change)="onChangeOrderBy($event.target.value)"
        [(ngModel)]="orderBySelecionado">
        <option
          *ngFor="let o of orderBy"
          [value]="o.order_by"
          [selected]="o.order_by === orderBySelecionado">
          {{ o.order }}
        </option>
      </select>
    </div>
  </div>
</div>
