<div
  *ngIf="destaques?.criterio_aprovada_em_uma_casa"
  class="chip"
  [ngbPopover]="popCriterioAprovadoCasa"
  [autoClose]="'outside'">
  <div class="chip-icon">
    <span class="material-icons">label_important</span>
  </div>
  <div class="chip-text">
    <span>{{ getCriterioAprovadoCasa(destaques?.casa_aprovacao) }}</span>
  </div>
  <ng-template #popCriterioAprovadoCasa>
    {{ getCriterioAprovadoCasa(destaques?.casa_aprovacao) }}
  </ng-template>
</div>
<div
  *ngIf="temCriterioAvancouComissao(destaques?.comissoes_camara, destaques?.comissoes_senado, destaques?.casa_aprovacao)"
  class="chip"
  [ngbPopover]="popCriterioAvancouComissao"
  [autoClose]="'outside'">
  <div class="chip-icon">
    <span class="material-icons">label_important</span>
  </div>
  <div class="chip-text">
    <span>Avançou nas comissões</span>
  </div>
  <ng-template #popCriterioAvancouComissao>
    {{ getCriterioAvancouComissao(destaques?.comissoes_camara, destaques?.comissoes_senado, destaques?.casa_aprovacao) }}
  </ng-template>
</div>
<div
  *ngIf="destaques?.criterio_req_urgencia_apresentado || destaques?.criterio_req_urgencia_aprovado"
  class="chip"
  [ngbPopover]="popCriterioReqUrgencia"
  [autoClose]="'outside'">
  <div class="chip-icon">
    <span class="material-icons">label_important</span>
  </div>
  <div class="chip-text">
    <span>Urgência</span>
  </div>
  <ng-template #popCriterioReqUrgencia>
    {{ getCriterioRequerimentoUrgencia(destaques) }}
  </ng-template>
</div>