<span
  *ngIf="destaques?.criterio_aprovada_em_uma_casa"
  class="tag badge badge-danger"
  [ngbPopover]="popCriterioAprovadoCasa"
  [autoClose]="'outside'">
  {{ getCriterioAprovadoCasa(destaques?.casa_aprovacao) }}
  <ng-template #popCriterioAprovadoCasa>
    {{ getCriterioAprovadoCasa(destaques?.casa_aprovacao) }}
  </ng-template>
</span>
<span
  *ngIf="destaques?.criterio_avancou_comissoes"
  class="tag badge badge-danger"
  [ngbPopover]="popCriterioAvancouComissao"
  [autoClose]="'outside'">
  Avançou nas comissões
  <ng-template #popCriterioAvancouComissao>
    {{ getCriterioAvancouComissao(destaques?.comissoes_camara, destaques?.comissoes_senado) }}
  </ng-template>
</span>
