$base-color: #20201e;

.avaliacao {
  margin-top: 5px;
}

.avaliacao-label {
  margin-right: 0.5rem;
}

.avaliacao-bloco {
  border: solid 1px $base-color;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.bloco-grande {
  border: solid 2px $base-color;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.ultimo {
  margin-right: 0;
}

.checked {
  background-color: $base-color;
}

.avaliacao-nivel {
  margin-left: 7px;
}
