.avaliacao {
  margin-top: 5px;
}

.avaliacao-label {
  margin-right: 0.5rem;
}

.avaliacao-bloco {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.bloco-grande {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.ultimo {
  margin-right: 0;
}

.avaliacao-nivel {
  margin-left: 7px;
}
