@use '../shared/mixins' as m;

.relatorios-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include m.info-card;
  @include m.btn-info;

  .card {
    width: 100% !important;
  }

  .card-title {
    height: 40px;
  }
}
