.progress-stacked-bar {
  padding-right: 0.25rem;
  text-align: right;
  cursor: pointer;
}

.progress-bordered {
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-top: none;
}

.progress-bar-value {
  line-height: normal;
  margin-left: 5px;
}
