.app-progress {
  border-left: solid 1px #707070;
  border-right: solid 1px #707070;
  border-bottom: solid 1px #707070;
  border-top: none;
  background: transparent;
  height: 20px;
  border-radius: unset;
}

.app-progress-bar {
  align-items: flex-start;
  padding-left: 0.25rem;
}

.progress-bar span {
  position: absolute;
  display: inline-block;
  color: #20201e;
  text-align: right;
}
