@use '../shared/variables' as v;

.background-wrapper {
  background-image: url(/assets/imgs/homepage-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.display-password-wrapper {
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.form-row {
  width: 100%;
  justify-content: space-between;
}

.display-password, .forgot-password {
  color: v.$util-grey-color;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    color: v.$text-color-3;
  }
}

i.icon-eye {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/assets/icons/eye.svg);
}

i.icon-eye-slash {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/assets/icons/eye-slash.svg);
}


.painels-wrapper {
  display: flex;
  padding: 0;
  margin: 5rem 0 0 0;
  height: 100%;
  max-width: 1250px;
  z-index: 1;
}

.left-painel {
  width: 750px;
  height: 775px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-painel {
  width: 500px;
  height: 775px;

  img {
    position: absolute;
    width: 450px;
    height: 280px;
    margin: 10px 0 0 20px;
  }
}

.parla-logo-row {
  margin-top: 25rem;
  font-size: 12px;
  color: v.$text-color-3;
  text-align: center;

  img {
    width: 180px;
    height: 20px;
  }

  a {
    font-size: 14px;
  }
}

.login-page {
  .form-wrapper {
    width: 420px;
    border: none;
    color: v.$primary-variant-color;
    font-weight: 500;
    align-self: center;

    .error {
      color: v.$warning-color;
      font-size: 12px;
    }

    label {
      color: v.$primary-color;
    }

    .stage-title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .title {
      color: v.$primary-color;
      text-align: center;
      margin: 90px 0 10px 0;
    }

    .sub-title {
      font-size: 12px;
      font-weight: 400;
      color: v.$text-color-3;
      text-align: center;
    }

    .input-wrapper {
      margin-top: 50px;

      input {
        width: 100%;
      }
    }

    .input-wrapper.email-wrapper {
      margin-top: 95px;
    }

    .next-btn-wrapper {
      margin-top: 50px;

      .col {
        text-align: end;
      }
    }

    .dropdown-menu.is-visible {
      display: block;
    }
    .dropdown-menu {
      border: solid 1px v.$primary-color;
      font-size: 12px;
      color: v.$text-color-3;

      .dropdown-item {
        cursor: pointer;
      }
    }

    .display-password-and-forgot-password-wrapper {
      margin-top: 1rem;
    }
  }

  .change-email-wrapper {
    display: flex;
    width: fit-content;
    max-width: 400px;
    height: 36px;
    padding: 5px 10px;
    flex-direction: row;
    gap: 1rem;
    border: solid 1px v.$primary-color;
    border-radius: 25px;
    margin-top: 2rem;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
    }

    .avatar-wrapper {}

    .email-wrapper {
      color: v.$text-color-3;
      font-size: 12px;
      line-height: 22px;
      overflow-x: scroll;
    }

    .arrow-wrapper {
      img {
        width: 12px;
        height: 12px;
      }

      img.rotate180 {
        rotate: 180deg;
      }
    }
  }

  /*
  * FORM SLIDE ANIMATION STYLES
  */
  @keyframes showMe {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .stage-1,
  .stage-2 {
    width: 400px;
    display: none;
  }

  .stage-1.stage-visible {
    display: block;
    animation-duration: 0.5s;
    animation-name: showMe;
  }

  .stage-2.stage-visible {
    display: block;
    animation-duration: 0.5s;
    animation-name: showMe;
  }
}