// NEW PARLAMETRIA THEME COLORS

// primary color
$primary-color: #6942A3;
$primary-variant-color: #34174A;
$primary-variant-color-1: #391774;
$primary-variant-color-2: #9A6FD5;
$primary-variant-color-3: #D0C5E3;

// secondary color
$secondary-color: #018786;
$secondary-variant-color: #03DAC6;
$secondary-variant-color-1: #BDEFEA;

// messages
$warning-color: #E65E5E;

// background
$background-color: #F8F6FB;

// text colors
$text-color: #1D2029;
$text-color-2: #3C414D;
$text-color-3: #81858D;

// house colors
$camara-color: #00B53C;
$senado-color: #0A367C;

// utils
$util-yellow-color: #F0E578;
$util-blue-color: #85CDE8;
$util-pink-color: #DB67A2;
$util-orange-color: #FAA557;
$util-green-color: #75B04F;
$util-purple-color: #A3A0FB;
$util-dark-blue-color: #485F94;
$util-light-pink-color: #FF7285;
$util-white-color: #F8FFFE;
$util-grey-color: #B0B6BA;
$util-light-grey-color: #E2E6EA;


