<span
  *ngIf="isEvento()"
  class="evento-title">
  {{ evento?.titulo_evento | titlecase }}&nbsp;
</span>
<span
  class="text-muted cursor"
  [ngbPopover]="popTemperatura"
  [autoClose]="'outside'">
  +{{ (evento?.temperatura_evento + evento?.temperatura_local) | number : '1.2-2'}} na temperatura
</span>
<ng-template #popTemperatura>
  <span>
    <strong>Temperatura da ação:</strong>
    {{ evento?.temperatura_evento }}
  </span>
  <span *ngIf="evento?.temperatura_local > 0">
    <strong>Temperatura da local:</strong>
    {{ evento?.temperatura_local }}
  </span>
</ng-template>
<div>{{ evento?.texto_tramitacao }}</div>
