<span
  *ngIf="isEvento()"
  class="evento-title">
  {{ evento?.titulo_evento | titlecase }}&nbsp;
</span>
<span
  class="text-muted cursor"
  [ngbPopover]="popTemperatura"
  [autoClose]="'outside'">
  +{{ (evento?.temperatura_evento + evento?.temperatura_local) | number : '1.0-1'}} na temperatura
</span>
<ng-template #popTemperatura>
  <span>
    <strong>{{ evento?.temperatura_evento | number : '1.0-1' }}°C</strong> devido ao tipo de ação
  </span>
  <span *ngIf="evento?.temperatura_local > 0">
    e <strong>{{ evento?.temperatura_local | number : '1.0-1' }}°C</strong> devido ao local da ação
  </span>
</ng-template>
<div>{{ evento?.texto_tramitacao }}</div>
