@import "../../../../app/shared/variables.scss";

.evento-title {
  max-width: 75%;
}

.cursor.tag-temperatura {
  cursor: pointer;
  color: $util-pink-color;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 8px;
}
