<div class="card-detalhes card-papeis-importantes">
  <h5 class="card-titulo">Papéis Importantes</h5>
  <div class="card-corpo">
    <ngb-accordion
      [closeOthers]="true"
      activeIds="static-1">
      <ngb-panel
        id="static-1"
        title="Presidente de comissão({{
              parlamentar?.comissoes?.quantidade_comissao_presidente
            }})">
        <ng-template ngbPanelContent>
          <li>
            {{ parlamentar?.comissoes?.info_comissao }}
          </li>
        </ng-template>
      </ngb-panel>
      <span class="icon-relator app-icon text-success"></span>
      <ngb-panel
        id="static-2"
        title="Relatorias ({{ parlamentar?.relatorias?.length }})">
        <ng-template ngbPanelContent>
          <li *ngFor="let item of parlamentar?.relatorias; let i = index">
            <a [href]="
                    'https://leggo.parlametria.org/#/proposicao/' +
                    item.idProp +
                    '/' +
                    interesse
                  ">{{ item.sigla }}</a>
          </li>
        </ng-template>
      </ngb-panel>
      <ngb-panel
        id="static-3"
        title="Autorias ({{ parlamentar?.autorias?.length }})">
        <ng-template ngbPanelContent>
          <li *ngFor="let item of parlamentar?.autorias; let i = index">
            <a
              [href]="[item.url_inteiro_teor]"
              target="_blank">
              {{ item.descricao_tipo_documento }}: {{ item.data }}
            </a>
          </li>
        </ng-template>
      </ngb-panel>
      <!-- <ngb-panel id="static-4" title="Influente">
          <ng-template ngbPanelContent>
            texto
          </ng-template>
        </ngb-panel> -->
    </ngb-accordion>
  </div>
</div>
