.camara-icon-block-wrapper {
  .icon-bow {
    margin-bottom: 24px;

    &.inactive {
      margin-bottom: 30px;
    }
  }

  .icon-bar {
    position: absolute;
    right: 5px;
    bottom: 28px;
  }

  .block-icon {
    display: flex;
    justify-content: center;
  }

  .block-text {
    color: #00B53C;
    border-bottom: solid 4px #00B53C;

    &.inactive {
      color: #81858D;
      border-bottom: solid 4px #81858D;
    }
  }
}
