<nav class="navbar fixed-top">
  <div class="container navbar-container">
    <div class="navbar-logo-wrapper align-items-center">
      <div class="text-center pr-2">
        <a
          [routerLink]="''"
          class="navbar-brand">
          <img
            src="assets/imgs/logotipo-parlametria.png"
            alt="Parlametria"
            width="200"
            height="22">
        </a>
      </div>
      <h4 *ngIf="router.url !== '/paineis'" class="mb-0">
        {{ interesse?.nome_interesse }}
      </h4>
    </div>
    <div *ngIf="router.url !== '/paineis'" class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control"
          placeholder="Buscar proposições"
          aria-label="Proposições"
          aria-describedby="basic-addon1"
          [(ngModel)]="searchText">
        <div class="input-group-append">
          <button class="btn btn-primary my-2 my-sm-0" (click)="navSearch(searchText, interesse)">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</nav>
