@import "../../variables.scss";

.navbar {
  background: white;
  height: 90px;
  border: none;
  box-shadow: 0px 11px 15px #34174a1a;

  &.fixed-top {
    top: -90px;
    transition: top 0.3s;
  }
}

.navbar-container {
  flex-direction: column;

  .navbar-links {
    padding-left: 10px;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      li.nav-item {
        display: flex;
        font-size: 14px;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        &:first-of-type {
          border-right: 1px solid $util-grey-color;
        }
        img {
          width: 20px;
          height: 20px;
        }
        a {
          color: $text-color-3;
          padding-left: 3px;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }

  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.navbar-nav {
  order: 0;

  @media (min-width: 768px) {
    order: 1;
  }
}

.navbar-logo-wrapper {
  order: 1;
  h4 {
    color: $text-color-3;
  }
  @media (min-width: 768px) {
    display: flex;
    order: 0;
  }
}

.navbar-link-icon:active,
.navbar-link-icon:hover {
  text-decoration: none;
}
