@import '../../variables.scss';

.navbar {
  background: white;
  height: 100px;
  border: none;
  box-shadow: 0px 11px 15px #34174A1A;

  &.fixed-top {
    top: -100px;
    transition: top 0.3s;
  }
}

.navbar-container {
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.navbar-nav {
  order: 0;

  @media (min-width: 768px) {
    order: 1;
  }
}

.navbar-logo-wrapper {
  order: 1;
  @media (min-width: 768px) {
    display: flex;
    order: 0;
  }
}

.navbar-link-icon:active,
.navbar-link-icon:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: $primary-variant-color;
  border-color: $primary-variant-color;
}
