<nav class="navbar">
  <div class="container navbar-container">
    <div class="navbar-logo-wrapper">
      <div class="text-center pr-2">
        <a
          [routerLink]="''"
          class="navbar-brand">
          <img
            src="assets/imgs/logotipo-parlametria.png"
            alt="Parlametria"
            width="200"
            height="22">
        </a>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <select
        id="paineis"
        name="paineis"
        class="form-control"
        (change)="onNavigate($event.target.value)">
        <option
          *ngFor="let i of interesses"
          [value]="i.interesse"
          [selected]="i.interesse === interesse?.interesse">
          {{ i?.nome_interesse }}
        </option>
      </select>
    </form>
  </div>
</nav>
