.navbar-container {
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.navbar-nav {
  order: 0;

  @media (min-width: 768px) {
    order: 1;
  }
}

.navbar-logo-wrapper {
  order: 1;
  @media (min-width: 768px) {
    display: flex;
    order: 0;
  }
}

.navbar-link-icon:active,
.navbar-link-icon:hover {
  text-decoration: none;
}
