.situacao-proposicao-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0;
}

.text-style-proposicoes p {
  font-size: 13px;
}

.text-style-proposicoes h3 {
  font-size: 15px;
}

.text-style-proposicoes h2 {
  font-size: 20px;
}
