@import "../../../../app/shared/variables.scss";

.btn.btn-light.btn-xs.btn-border {
  border: 2px solid $primary-color;
  border-radius: 2px;
  opacity: 1;
  background: transparent;
  padding: 9px 16px;
  color: $primary-color;
}

