<div class="mb-2">
  <h5>
    <strong>{{ getTitulo() }}</strong>
  </h5>
  <div *ngIf="autores && autores.length > 0; else semAutores">
    <span>
      <p class="m-0">
        {{ getAutorFormatado(autores[0].autor) }}
        {{ getPartidoUf(autores[0].autor) }}
      </p>
    </span>
    <span [hidden]="!showMais" *ngFor="let index of autores">
      <p class="m-0">
        {{ getAutorFormatado(index.autor) }}
        {{ getPartidoUf(index.autor) }}
      </p>
    </span>
    <button
      [hidden]="!getTemMaisAutores()"
      class="btn btn-light btn-xs btn-border mt-2"
      (click)="toogleShowMais()"
    >
      <span [hidden]="showMais">VER +</span>
      <span [hidden]="!showMais">VER -</span>
    </button>
  </div>
  <ng-template #semAutores>Autores não encontrados</ng-template>
</div>
