.btn-border {
  padding: 4px 8px;
  border-radius: 3px;
  border: solid 2px #6c757d;
}

.text-style-proposicoes p {
  font-size: 13px;
}

.text-style-proposicoes h3 {
  font-size: 15px;
}

.text-style-proposicoes h2 {
  font-size: 20px;
}
