.card-inner {
  padding: 1rem;
}

.card-calltoaction {
  height: 325px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  background-position-x: center;
}

.card-calltoaction-h {
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 23px;
  font-family: "Poppins";
  margin-top: 60px;
}

.card-calltoaction-link:active,
.card-calltoaction-link:hover {
  text-decoration: none;
}
