.card-inner {
  padding: 1rem;
}

.card-calltoaction {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position-x: center;
}

.card-calltoaction-h,
.card-calltoaction-link:link,
.card-calltoaction-link:visited {
  color: #ffffff;
}

.card-calltoaction-link:active,
.card-calltoaction-link:hover {
  text-decoration: none;
}
