.paineis {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    height: 60vh;
  }
}

.app-container {
  margin-top: 9rem;
}

.paineis-selecao {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 576px) {
    height: 100px;
  }

  @media (min-width: 992px) {
    padding: 3rem;
  }

  @media (min-width: 1200px) {
    padding: 3.6rem;
  }
}
