<app-loading *ngIf="isLoading | async"></app-loading>

<div class="container-fluid projetos-page">

  <div class="row-projetos">

    <div class="col-projetos">
      <div class="card card-projeto">
        <img class="card-img-top congresso_remoto-img" src="/assets/imgs/congresso_remoto.svg" />
        <div class="card-body">
          <p class="card-text">
            O CONGRESSO REMOTO produz dados e análises sobre a atividade parlamentar com o objetivo de aumentar sua
            transparência e fortalecer a participação cidadã na vida política durante o período de funcionamento remoto do Congresso.
          </p>
          <a href="https://congressoremoto.org.br" target="BLANK" class="btn btn-primary btn-projetos">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-projetos">
      <div class="card card-projeto">
        <img class="card-img-top vozativa-img" src="/assets/imgs/vozativa.png" />
        <div class="card-body">
          <p class="card-text">
            Voz ativa quer te ajudar a acompanhar o posicionamento da Câmara dos Deputados a partir de temas de fundamental
            importância para o Brasil.
          </p>
          <a href="https://vozativa.org" target="BLANK" class="btn btn-primary btn-projetos">Acessar</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row-projetos">

    <div class="col-projetos">
      <div class="card card-projeto">
        <img class="card-img-top perfilpolitico-img" src="/assets/imgs/perfilpolitico.png" />
        <div class="card-body">
          <p class="card-text">
            Perfil Político é uma plataforma para comparar e conhecer o histórico dos milhares de candidatos às eleições.
            A ferramenta ajuda as pessoas a selecionar perfis de candidatos: você pode filtrar por novatos e por velhos políticos. Pode ver como o seu estado está em termos de representatividade de gênero e raça – e se as candidaturas, de fato, representam você.
          </p>
          <a href="https://perfilpolitico.serenata.ai" target="BLANK" class="btn btn-primary btn-projetos">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-projetos">
      <div class="card card-projeto">
        <img class="card-img-top perfil-parlamentar-img" src="/assets/imgs/perfil-parlamentar-logo.png" />
        <div class="card-body">
          <p class="card-text">
            O Perfil Parlamentar analisa uma série de dados da Câmara dos Deputados e Senado Federal com a finalidade
            de entender os vínculos políticos dos parlamentares dentro e fora do Parlamento, além dos seus posicionamentos em todas a votações.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<app-rodape></app-rodape>
