<div class="rodape-wrapper">

  <div class="links-rodape-wrapper">
    <div class="footer-links-row">
      <div class="footer-link-item" (click)="routeTo('/parlamentares')">PARLAMENTARES</div>
      <div class="footer-link-item" (click)="routeTo('/paineis')">PAINÉIS</div>
      <div class="footer-link-item-underline" (click)="routeTo('/projetos')">PROJETOS</div>
      <div>RELATÓRIOS</div>
      <div>NA MÍDIA</div>
      <div>SOBRE</div>
    </div>
  </div>

  <div class="footer-wrapper">
    <div class="logo-desc">
      <div class="left-footer-block-wrapper">
        <div class="footer-logo">
          <img src="/assets/imgs/home-rodape-logo.svg" alt="logo parlametria rodape" />
        </div>

        <div class="text-content-wrapper">
          <div class="text-content">
            Todo o conteúdo do Parlametria está disponível sob a licença Creative Commons
            Atribuição 4.0 Internacional, o que significa que pode ser compartilhado e
            reutilizado para trabalhos derivados, desde que citada a fonte. O código-fonte da
            plataforma também é aberto e está disponível do Github.
          </div>

          <div class="text-content time">
            2022 Parlametria.
          </div>
        </div>
      </div>
    </div>

    <div class="contact-desc">
      <div class="text-content-wrapper">
        <div>
          Se interessou pelo projeto?
        </div>

        <div>
          Tem dúvidas?
        </div>

        <div>
          Quer falar com os envolvidos?
        </div>

        <div>
          <h3>Entre em contato.</h3>
        </div>

        <div>
          contato@ok.org.br ou <br />
          contato@dadocaptal.org.br
        </div>
      </div>
    </div>
  </div>
</div>
