@import "../../../shared/variables.scss";

h3 {
  img {
    cursor: pointer;
  }
}

.progresso-wrapper {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  padding-bottom: 11rem;
}

.progressbar p {
  margin: 0;
}

.progressbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.progressbar li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
}

/* os before fazem os circulos */

.progressbar li {
  width: 38px;
  height: 38px;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  color: white;
}

/* linhas */
.linha {
  width: calc(5*100%/6);
  height: 2px;
  position: absolute;
  background-color: #b0b6ba;
  top: 10px;
  left: calc(100%/12);
  z-index: 0;
  border: none;
  margin-top: 0.5rem;
}

.comissao-mista {
  background: linear-gradient(45deg, #0a367c 0%, #0a367c 49%, #00b53c 50%, #00b53c 100%);
}

.camara {
  background-color: $camara-color;
}

.senado {
  background-color: $senado-color;
}

.presidencia {
  background-color: $util-blue-color;
}

.congresso {
  background-color: $util-orange-color;
}

.future {
  background-color: $util-grey-color;
  color: black;
}

.progress-item {
  position: relative;
  width: calc(100%/6);
  z-index: 1;

  .detail {
    position: absolute;
    width: 132%;
    left: -15%;
    padding: 10px;
    border: 1px solid $util-grey-color;
    margin-top: 10px;
  }
  &:nth-child(even) {
    .detail {
      top: -7rem;
    }
  }
  li:not(.future).camara + div + .detail {
    border-color: $camara-color;
  }
  li:not(.future).senado + div + .detail {
    border-color: $senado-color;
  }
  li:not(.future).presidencia + div + .detail {
    border-color: $util-blue-color;
  }
  li:not(.future).congresso + div + .detail {
    border-color: $util-orange-color;
  }
}

.jumped:before {
  background-image: url("../../../../assets/imgs/colored_vazio.png");
}

.inProgress:before {
  transform: scale(1.7);
  z-index: 1;
}
