.fase-titulo {
  font-weight: 100;
  font-size: .7rem;
}

.progressbar p {
  margin: 0rem;
}

.fase-body {
  margin: 0px;
  font-size: .6rem;
  color: grey;
}

.progressbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.progressbar li {
  list-style-type: none;
  position: relative;
}

/* os before fazem os circulos */

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: '';
  position: relative;
  display: block;
  margin: 0 auto 10px auto;
  background-size: cover;
}

/* linhas */
.linha {
  width: 99%;
  height: 2px;
  position: absolute;
  background-color: grey;
  top: 5px;
  left: 1%;
  z-index: -1;
  border: none;
  margin-top: 0.5rem;
}

.camara:before {
  background-image: url("../../../../assets/imgs/colored_camara.png");
  background-size: cover;
}

.senado:before {
  background-image: url("../../../../assets/imgs/colored_senado.png");
}

.future:before {
  filter: brightness(1.4) saturate(.1);
}

.planalto:before {
  background-image: url("../../../../assets/imgs/colored_planalto.png");
}

.comissao-mista:before {
  background-image: url("../../../../assets/imgs/colored_comissao_mista.png");
}

.jumped:before {
  background-image: url("../../../../assets/imgs/colored_vazio.png");
}

.inProgress:before {
  transform: scale(1.7);
  z-index: 1;
}
