<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="text-jumbo my-4">Opa!</h1>
      <h2 class="my-4">
        Não conseguimos encontrar a página que você está procurando.
      </h2>
      <h6 class="my-4">Código do erro: 404</h6>
      <ul class="list-unstyled link">
        <li class="mb-2">Calma, aqui estão alguns links úteis:</li>
        <li>
          <a [routerLink]="['/paineis']">Painéis</a>
        </li>
        <li>
          <a [routerLink]="['/sobre']">Sobre</a>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <img
        src="assets/imgs/404.jpg"
        alt="Dado Capital"
        width="125%"
        class="img-404">
    </div>
  </div>
  <div class="mt-4">
    <a href="https://www.freepik.com/vectors/disconnect">
      <span class="text-muted">
        Disconnect vector created by jcomp - www.freepik.com
      </span>
    </a>
  </div>
</div>
