$base-color: #20201e;

.proposicoes-navbar {
  background-color: #959494;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}

.proposicao-autor {
    font-size: 20px;
    color: grey;
}

.proposicao-relator {
    font-size: 20px;
    color: grey;
}
