<div class="app-container">
  <!-- <div class="proposicoes-navbar">
    <div class="container">
      <div class="row gutters-sm">
        <div class="col-6">
          <h4>{{ interesse?.nome_interesse }}</h4>
        </div>
        <div class="col-4">
          <app-filtro-texto-proposicoes
            [interesse]="interesse"
            (filterChange)="search($event)"
            [numeroProposicoes]="proposicoesDestaque?.length + proposicoes?.length"></app-filtro-texto-proposicoes>
        </div>
        <div class="col-2">
          <a
            [routerLink]="['../parlamentares']"
            routerLinkActive="router-link-active"
            class="btn btn-dark btn-block">
            <span class="icon-atores"></span>
            Parlamentares
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div [hidden]="isLoading | async">
    <div class="bg-white">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']" class=""> Interesses </a>
            </li>
            <li class="breadcrumb-item">
              <span> {{ interesseModel?.nome_interesse }} </span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <section class="proposicoes-em-destaque">
      <div class="destaques-titles container">
        <h2>
          Proposições em Alerta
          <img
            [ngbPopover]="alertaTip"
            triggers="mouseenter:mouseleave"
            src="/assets/icons/popover_icon.svg"
            alt=""
          />
          <ng-template #alertaTip> Lorem </ng-template>
        </h2>
        <h5 class="subtitle">
          Destacamos
          {{
            proposicoesIniciadora?.length +
              proposicoesRevisora?.length +
              proposicoesSancao?.length
          }}
          proposições em estado de alerta
        </h5>
        <div class="row">
          <div class="col-4">
            <h5 class="iniciadora-title">Iniciadora</h5>
          </div>
          <div class="col-4">
            <h5 class="revisora-title">Revisora</h5>
          </div>
          <div class="col-4">
            <h5 class="sancao-title">Sanção/Veto</h5>
          </div>
        </div>
      </div>
      <div class="destaques-block container">
        <div class="row">
          <div class="iniciadora col-4">
            <div class="circle">
              <div class="circle-inner">
                <a
                  [routerLink]="[proposicao.id_leggo]"
                  [ngbPopover]="destaqueInfo"
                  triggers="mouseenter:mouseleave"
                  *ngFor="let proposicao of proposicoesIniciadora"
                  class="proposicao-ball {{
                    proposicao?.etapas[proposicao?.etapas.length - 1]?.casa
                  }}"
                >
                  <ng-template #destaqueInfo>
                    <div class="popover-title">
                      {{
                        proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla
                      }}
                    </div>
                    <label>Por quê estou aqui?</label>
                    <div class="popover-text">
                      {{
                        getProposicaoCriteriosDestaque(proposicao.destaques[0])
                      }}
                    </div>
                  </ng-template>
                </a>
              </div>
            </div>
          </div>
          <div class="revisora col-4">
            <div class="circle">
              <a
                [routerLink]="[proposicao.id_leggo]"
                [ngbPopover]="destaqueInfo"
                triggers="mouseenter:mouseleave"
                *ngFor="let proposicao of proposicoesRevisora"
                class="proposicao-ball {{
                  proposicao?.etapas[proposicao?.etapas.length - 1]?.casa
                }}"
              >
                <ng-template #destaqueInfo>
                  <div class="popover-title">
                    {{
                      proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla
                    }}
                  </div>
                  <label>Por quê estou aqui?</label>
                  <div class="popover-text">
                    {{
                      getProposicaoCriteriosDestaque(proposicao.destaques[0])
                    }}
                  </div>
                </ng-template>
              </a>
            </div>
          </div>
          <div class="sancao col-4">
            <div class="circle">
              <a
                [routerLink]="[proposicao.id_leggo]"
                [ngbPopover]="destaqueInfo"
                triggers="mouseenter:mouseleave"
                *ngFor="let proposicao of proposicoesSancao"
                class="proposicao-ball {{
                  proposicao?.etapas[proposicao?.etapas.length - 1]?.casa
                }}"
              >
                <ng-template #destaqueInfo>
                  <div class="popover-title">
                    {{
                      proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla
                    }}
                  </div>
                  <label>Por quê estou aqui?</label>
                  <div class="popover-text">
                    {{
                      getProposicaoCriteriosDestaque(proposicao.destaques[0])
                    }}
                  </div>
                </ng-template>
              </a>
            </div>
          </div>
        </div>
        <div class="destaques-arrows">
          <div class="first-arrow">
            <img src="assets/imgs/seta_tramitacao_destaques.svg" alt="" />
            <span>Estágio de tramitação</span>
          </div>
          <div class="second-arrow">
            <img src="assets/imgs/seta_tramitacao_destaques.svg" alt="" />
            <span>Estágio de tramitação</span>
          </div>
        </div>
        <div class="destaques-count container">
          <div class="row">
            <div class="col-4">
              <h5 class="iniciadora-count">
                {{ proposicoesIniciadora?.length + " proposições nesta etapa" }}
              </h5>
            </div>
            <div class="col-4">
              <h5 class="revisora-count">
                {{ proposicoesRevisora?.length + " proposições nesta etapa" }}
              </h5>
            </div>
            <div class="col-4">
              <h5 class="sancao-count">
                {{ proposicoesSancao?.length + " proposições nesta etapa" }}
              </h5>
            </div>
          </div>
        </div>
        <div class="subtitles-block container">
          <div class="subtitles">
            <div class="subtitle">
              <div class="proposicao-ball senado"></div>
              <span>Senado</span>
            </div>
            <div class="subtitle">
              <div class="proposicao-ball camara"></div>
              <span>Câmara</span>
            </div>
          </div>
          <div class="scroll-arrow" (click)="scrollToList()">
            <img src="/assets/icons/destaques_scroll_icon.svg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <div class="container pt-4">
      <div [hidden]="isLoading | async">
        <h3 class="search-title">
          Encontramos {{ proposicoes?.length | number: "2.0" }} resultado{{
            pluralise(proposicoes?.length)
          }}
          para a sua busca
        </h3>
        <div class="d-flex" *ngIf="proposicoes?.length > 0">
          <div class="viewmode-selector">
            <h5 class="caption">Visualização</h5>
            <button
              [class.btn-selected]="viewmode === 'list'"
              class="btn rounded-0 btn-list"
              (click)="onChangeViewmode('list')"
            >
              <span class="icon"></span>
            </button>
            <button
              [class.btn-selected]="viewmode === 'grid'"
              class="btn rounded-0 btn-grid"
              (click)="onChangeViewmode('grid')"
            >
              <span class="icon"></span>
            </button>
          </div>
          <div class="per-page-selector">
            <h5 class="caption">Exibição por página</h5>
            <select
              *ngIf="viewmode === 'list'"
              name="per-page"
              class="form-control"
              (change)="onChangePerPage($event.target.value)"
            >
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <select *ngIf="viewmode === 'grid'" class="form-control" disabled>
              <option value="15">--</option>
            </select>
          </div>
          <div class="form-inline search-bar">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="material-icons">search</span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Pesquise por proposição"
                aria-label="Proposições"
                aria-describedby="basic-addon1"
                [(ngModel)]="searchText"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-primary my-2 my-sm-0"
                  (click)="navSearch(searchText, interesse)"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-9">
            <h5 class="no-results" *ngIf="proposicoes?.length === 0">
              Nenhuma proposição encontrada
            </h5>
            <div *ngIf="proposicoes?.length > 0">
              <pagination-template
                #pag="paginationApi"
                maxSize="5"
                (pageChange)="pageChange($event)"
                [hidden]="pag.isFirstPage()"
              >
                <nav aria-label="Paginação" class="pb-1">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <button
                        type="button"
                        class="page-link"
                        [disabled]="pag.isFirstPage()"
                        (click)="pag.previous()"
                      >
                        &lt;
                      </button>
                    </li>
                    <li
                      class="page-item"
                      *ngFor="let page of pag.pages"
                      [class.active]="pag.getCurrent() === page.value"
                    >
                      <button
                        type="button"
                        class="page-link"
                        (click)="pag.setCurrent(page.value)"
                      >
                        {{ page.label }}
                      </button>
                    </li>
                    <li class="page-item">
                      <button
                        type="button"
                        class="page-link"
                        [disabled]="pag.isLastPage()"
                        (click)="pag.next()"
                      >
                        &gt;
                      </button>
                    </li>
                  </ul>
                </nav>
              </pagination-template>
              <div *ngIf="viewmode === 'grid'">
                <app-card-grid-proposicao
                  *ngFor="
                    let proposicao of proposicoes
                      | paginate
                        : {
                            itemsPerPage: PROPOSICOES_POR_PAGINA_GRID,
                            currentPage: p
                          };
                    index as i
                  "
                  class="d-inline-flex mt-3 col-lg-4 col-sm-6"
                  [proposicao]="proposicao"
                  [id]="
                    getProposicaoPosition(i, PROPOSICOES_POR_PAGINA_GRID, p)
                  "
                ></app-card-grid-proposicao>
              </div>
              <div *ngIf="viewmode === 'list'">
                <app-card-proposicao
                  *ngFor="
                    let proposicao of proposicoes
                      | paginate
                        : {
                            itemsPerPage: PROPOSICOES_POR_PAGINA,
                            currentPage: p
                          };
                    index as i
                  "
                  class="d-flex mt-3"
                  [proposicao]="proposicao"
                  [id]="getProposicaoPosition(i, PROPOSICOES_POR_PAGINA, p)"
                ></app-card-proposicao>
              </div>
              <pagination-template
                #pag="paginationApi"
                maxSize="5"
                (pageChange)="pageChange($event)"
              >
                <nav aria-label="Paginação" class="pb-1">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <button
                        type="button"
                        class="page-link"
                        [disabled]="pag.isFirstPage()"
                        (click)="pag.previous()"
                      >
                        &lt;
                      </button>
                    </li>
                    <li
                      class="page-item"
                      *ngFor="let page of pag.pages"
                      [class.active]="pag.getCurrent() === page.value"
                    >
                      <button
                        type="button"
                        class="page-link"
                        (click)="pag.setCurrent(page.value)"
                      >
                        {{ page.label }}
                      </button>
                    </li>
                    <li class="page-item">
                      <button
                        type="button"
                        class="page-link"
                        [disabled]="pag.isLastPage()"
                        (click)="pag.next()"
                      >
                        &gt;
                      </button>
                    </li>
                  </ul>
                </nav>
              </pagination-template>
            </div>
          </div>
          <div class="col-3">
            <app-filtro-proposicoes
              [interesse]="interesse"
              (filterChange)="search($event)"
              [numeroProposicoes]="totalProposicoes"
            ></app-filtro-proposicoes>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer [interesseModel]="interesseModel"></app-footer>
