<div class="app-container">
  <!-- <div class="proposicoes-navbar">
    <div class="container">
      <div class="row gutters-sm">
        <div class="col-6">
          <h4>{{ interesse?.nome_interesse }}</h4>
        </div>
        <div class="col-4">
          <app-filtro-texto-proposicoes
            [interesse]="interesse"
            (filterChange)="search($event)"
            [numeroProposicoes]="proposicoesDestaque?.length + proposicoes?.length"></app-filtro-texto-proposicoes>
        </div>
        <div class="col-2">
          <a
            [routerLink]="['../parlamentares']"
            routerLinkActive="router-link-active"
            class="btn btn-dark btn-block">
            <span class="icon-atores"></span>
            Parlamentares
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div [hidden]="isLoading | async">
    <div class="breadcrumbs"></div>
    <section class="proposicoes-em-destaque">
      <h2>Proposições em Alerta</h2>
      <div class="destaques-titles container">
        <div class="row">
          <div class="col-4">
            <h5 class="iniciadora-title">Iniciadora</h5>
          </div>
          <div class="col-4">
            <h5 class="revisora-title">Revisora</h5>
          </div>
          <div class="col-4">
            <h5 class="sancao-title">Sanção/Veto</h5>
          </div>
        </div>
      </div>
      <div class="destaques-block container">
        <div class="row">
          <div class="iniciadora col-4">
            <div class="circle">
              <div class="circle-inner">
                <a
                  [routerLink]="[proposicao.id_leggo]"
                  [ngbPopover]="destaqueInfo"
                  triggers="mouseenter:mouseleave"
                  [autoClose]="false"
                  *ngFor="let proposicao of proposicoesIniciadora"
                  class="proposicao-ball {{
                    proposicao?.etapas[proposicao?.etapas.length - 1]?.casa
                  }}"
                >
                  <ng-template #destaqueInfo>
                    <div class="popover-title">
                      {{
                        proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla
                      }}
                    </div>
                    <label>Por quê estou aqui?</label>
                    <div class="popover-text">
                      {{
                        getProposicaoCriteriosDestaque(proposicao.destaques[0])
                      }}
                    </div>
                  </ng-template>
                </a>
              </div>
            </div>
          </div>
          <div class="revisora col-4">
            <div class="circle">
              <a
                [routerLink]="[proposicao.id_leggo]"
                [ngbPopover]="destaqueInfo"
                triggers="mouseenter:mouseleave"
                *ngFor="let proposicao of proposicoesRevisora"
                class="proposicao-ball {{
                  proposicao?.etapas[proposicao?.etapas.length - 1]?.casa
                }}"
              >
                <ng-template #destaqueInfo>
                  <div class="popover-title">
                    {{
                      proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla
                    }}
                  </div>
                  <label>Por quê estou aqui?</label>
                  <div class="popover-text">
                    {{
                      getProposicaoCriteriosDestaque(proposicao.destaques[0])
                    }}
                  </div>
                </ng-template>
              </a>
            </div>
          </div>
          <div class="sancao col-4">
            <div class="circle">
              <a
                [routerLink]="[proposicao.id_leggo]"
                [ngbPopover]="destaqueInfo"
                triggers="mouseenter:mouseleave"
                *ngFor="let proposicao of proposicoesSancao"
                class="proposicao-ball {{
                  proposicao?.etapas[proposicao?.etapas.length - 1]?.casa
                }}"
              >
                <ng-template #destaqueInfo>
                  <div class="popover-title">
                    {{
                      proposicao?.etapas[proposicao?.etapas.length - 1]?.sigla
                    }}
                  </div>
                  <label>Por quê estou aqui?</label>
                  <div class="popover-text">
                    {{
                      getProposicaoCriteriosDestaque(proposicao.destaques[0])
                    }}
                  </div>
                </ng-template>
              </a>
            </div>
          </div>
        </div>
        <div class="destaques-arrows">
          <div class="first-arrow">
            <img src="assets/imgs/seta_tramitacao_destaques.svg" alt="" />
            <span>Estágio de tramitação</span>
          </div>
          <div class="second-arrow">
            <img src="assets/imgs/seta_tramitacao_destaques.svg" alt="" />
            <span>Estágio de tramitação</span>
          </div>
        </div>
        <div class="destaques-count container">
          <div class="row">
            <div class="col-4">
              <h5 class="iniciadora-count">
                {{ proposicoesIniciadora?.length + " proposições nesta etapa" }}
              </h5>
            </div>
            <div class="col-4">
              <h5 class="revisora-count">
                {{ proposicoesRevisora?.length + " proposições nesta etapa" }}
              </h5>
            </div>
            <div class="col-4">
              <h5 class="sancao-count">
                {{ proposicoesSancao?.length + " proposições nesta etapa" }}
              </h5>
            </div>
          </div>
        </div>
        <div class="subtitles-block container">
          <div class="subtitle">
            <div class="proposicao-ball senado"></div>
            <span>Senado</span>
          </div>
          <div class="subtitle">
            <div class="proposicao-ball camara"></div>
            <span>Câmara</span>
          </div>
        </div>
      </div>
    </section>
    <div class="container pt-4">
      <div [hidden]="isLoading | async">
        <h3 *ngIf="proposicoes?.length === 0" class="search-title">
          Nenhuma proposição encontrada
        </h3>
        <h3 *ngIf="proposicoes?.length > 0" class="search-title">
          Todas as proposições neste painel
        </h3>
        <div class="per-page-selector">
          <h5>Exibição por página</h5>
          <select
            name="per-page"
            class="form-control"
            (change)="onChangePerPage($event.target.value)"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>
        <div class="row">
          <div class="col-9">
            <pagination-template
              #pag="paginationApi"
              maxSize="5"
              (pageChange)="pageChange($event)"
              [hidden]="pag.isFirstPage()"
            >
              <nav aria-label="Paginação" class="pb-1">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <button
                      type="button"
                      class="page-link"
                      [disabled]="pag.isFirstPage()"
                      (click)="pag.previous()"
                    >
                      &lt;
                    </button>
                  </li>
                  <li
                    class="page-item"
                    *ngFor="let page of pag.pages"
                    [class.active]="pag.getCurrent() === page.value"
                  >
                    <button
                      type="button"
                      class="page-link"
                      (click)="pag.setCurrent(page.value)"
                    >
                      {{ page.label }}
                    </button>
                  </li>
                  <li class="page-item">
                    <button
                      type="button"
                      class="page-link"
                      [disabled]="pag.isLastPage()"
                      (click)="pag.next()"
                    >
                      &gt;
                    </button>
                  </li>
                </ul>
              </nav>
            </pagination-template>
            <div
              *ngFor="
                let proposicao of proposicoes
                  | paginate
                    : { itemsPerPage: PROPOSICOES_POR_PAGINA, currentPage: p };
                index as i
              "
              class="mt-3"
            >
              <app-card-proposicao
                [proposicao]="proposicao"
                [id]="getProposicaoPosition(i, PROPOSICOES_POR_PAGINA, p)"
              ></app-card-proposicao>
            </div>
            <pagination-template
              #pag="paginationApi"
              maxSize="5"
              (pageChange)="pageChange($event)"
            >
              <nav aria-label="Paginação" class="pb-1">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <button
                      type="button"
                      class="page-link"
                      [disabled]="pag.isFirstPage()"
                      (click)="pag.previous()"
                    >
                      &lt;
                    </button>
                  </li>
                  <li
                    class="page-item"
                    *ngFor="let page of pag.pages"
                    [class.active]="pag.getCurrent() === page.value"
                  >
                    <button
                      type="button"
                      class="page-link"
                      (click)="pag.setCurrent(page.value)"
                    >
                      {{ page.label }}
                    </button>
                  </li>
                  <li class="page-item">
                    <button
                      type="button"
                      class="page-link"
                      [disabled]="pag.isLastPage()"
                      (click)="pag.next()"
                    >
                      &gt;
                    </button>
                  </li>
                </ul>
              </nav>
            </pagination-template>
          </div>
          <div class="col-3">
            <app-filtro-proposicoes
              [interesse]="interesse"
              (filterChange)="search($event)"
              [numeroProposicoes]="
                proposicoesDestaque?.length + proposicoes?.length
              "
            ></app-filtro-proposicoes>
          </div>
        </div>
      </div>
    </div>
    <section class="painel-info">
      <div class="container">
        <h3>Entenda como:</h3>
        <div class="row">
          <div class="col-6">
            <ngb-accordion
              #acc="ngbAccordion"
              activeIds="ngb-panel-0"
              [closeOthers]="true"
            >
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="accordion-title"
                    >Calculamos as proposições que merecem a sua atenção</span
                  >
                </ng-template>
                <ng-template ngbPanelContent>
                  <p>
                    Os algoritmos do Parlametria são capazes de filtrar o fluxo
                    de tramitação no Legislativo Federal, de modo a destacar as
                    proposições que estão em estágio mais avançado de trâmite e
                    que merecem, portanto, total atenção da RAC.
                  </p>
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span>Calculamos os dados de temperatura</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p>
                    Indicador de viés interna corporis, o valor de temperatura
                    leva em conta apenas as ações legislativas que compõem o
                    processo de tramitação no Congresso Nacional. É calculado
                    por algoritmo que faz ponderação quantitativa
                    (contabilização das ações incidentes sobre uma proposição
                    legislativa) e qualitativa (importância de cada ação no rito
                    legislativo).
                  </p>
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span>Tratamos os dados da pressão</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p>
                    Indicador baseado em dados externos ao rito de tramitação no
                    Congresso Nacional, refletindo como os variados grupos de
                    interesse atuam para influenciar o processo legislativo. A
                    métrica é operada por algoritmo que captura interações na
                    rede social Twitter, especificamente aquelas em que há
                    referência à proposição em questão.
                  </p>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
          <div class="col-6 painel-description">
            <h5>{{ "Painel de " + interesseModel.nome_interesse }}</h5>
            <p>{{ interesseModel.descricao_interesse }}</p>
            <h6>Painéis de acompanhamento</h6>
            <p>
              A plataforma coleta e analisa dados do Congresso Nacional, para
              apresentar uma visão geral e agregada das proposições mais
              relevantes sobre o tema, permitindo o acompanhamento, de forma
              gráfica, nos variados estágios de tramitação.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
