<app-loading *ngIf="isLoading | async"></app-loading>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a
          class
          [routerLink]="['../']"
          queryParamsHandling="merge">
          &lt; Atuação parlamentar
        </a>
      </li>
    </ol>
  </nav>
  <div
    class="parlamentar"
    *ngIf="parlamentarInfo">
    <div class="info-parent">
      <div class="col1">
        <div class="foto-parlamentar">
          <img [src]="parlamentarInfo?.url_foto">
        </div>
      </div>
      <div class="col2">
        <div class="parlamentar-titulo">{{ parlamentarInfo?.nome_autor }}</div>
        <p class="parlamentar-partido">
          {{ parlamentarInfo?.partido }}/{{ parlamentarInfo?.uf }}
        </p>
        <div>
          <app-progress
            class="pogresso"
            [label]="'Congresso'"
            [barraClasse]="'bg-primary'"
            [valor]="parlamentar?.atividadeParlamentar?.atividade_parlamentar"
            [exibirLabel]="false"></app-progress>
        </div>
        <div class="space-between-bars">
          <app-progress
            class="pogresso"
            [label]="'Congresso'"
            [barraClasse]="'bg-twitter'"
            [valor]="parlamentar?.atividadeTwitter?.atividade_twitter"
            [exibirLabel]="false"></app-progress>
        </div>
      </div>
      <div class="col3">
        <div class="insignias">
          <div>
            <span
              class="cracha"
              *ngIf="parlamentar?.autorias?.length"
              [ngbPopover]="popAutorias"
              [autoClose]="'outside'">
              <span class="icon-autor app-icon text-danger"></span>
              <span class="badge badge-danger app-badge badge-color-white">{{ parlamentar?.autorias?.length }}</span>
              <ng-template #popAutorias>
                <strong>Autor</strong>
                &nbsp;de {{ parlamentar?.autorias?.length }}
                <span *ngIf="parlamentar?.autorias?.length === 1">&nbsp;proposição</span>
                <span *ngIf="parlamentar?.autorias?.length !== 1">&nbsp;proposições</span>
                <div class="text-right">
                  <a [routerLink]="['./papeis']" class="btn btn-link btn-sm">+ Detalhes</a>
                </div>
              </ng-template>
            </span>

            <span
              class="cracha"
              *ngIf="parlamentar?.relatorias?.length"
              [ngbPopover]="popRelatorias"
              [autoClose]="'outside'">
              <span class="icon-relator app-icon text-success"></span>
              <span class="badge badge-success app-badge badge-color-white">{{ parlamentar?.relatorias?.length }}</span>
              <ng-template #popRelatorias>
                <strong>Relator</strong>
                &nbsp;de {{ parlamentar?.relatorias?.length }}
                <span *ngIf="parlamentar?.relatorias?.length === 1">&nbsp;proposição</span>
                <span *ngIf="parlamentar?.relatorias?.length !== 1">&nbsp;proposições</span>
                <div class="text-right">
                  <a [routerLink]="['./papeis']" class="btn btn-link btn-sm">+ Detalhes</a>
                </div>
              </ng-template>
            </span>

            <span
              class="cracha"
              *ngIf="parlamentar?.comissoes?.quantidade_comissao_presidente"
              [ngbPopover]="popPresidencia"
              [autoClose]="'outside'">
              <span class="icon-presidente app-icon text-warning"></span>
              <span class="badge badge-warning app-badge badge-color-white">
                {{ parlamentar?.comissoes?.quantidade_comissao_presidente }}
              </span>
              <ng-template #popPresidencia>
                <strong>Presidente</strong>
                &nbsp;de {{ parlamentar?.comissoes?.quantidade_comissao_presidente }}
                <span *ngIf="parlamentar?.comissoes?.quantidade_comissao_presidente === 1">&nbsp;comissão</span>
                <span *ngIf="parlamentar?.comissoes?.quantidade_comissao_presidente !== 1">&nbsp;comissões</span>
                <div class="text-right">
                  <a [routerLink]="['./papeis']" class="btn btn-link btn-sm">+ Detalhes</a>
                </div>
              </ng-template>
            </span>
          </div>
          <div>
            <app-avaliacao
              [label]="'Peso'"
              [valor]="parlamentarInfo?.peso_politico * 5"
              [exibirLabel]="false"></app-avaliacao>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-filtra-tema [interesse]="interesse"></app-filtra-tema>

<div class="parlamentar-subnav">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./atividades']"
        [routerLinkActive]="'active'"
        queryParamsHandling="merge">
        <span class="icon-atividade"></span>
        Ações
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./papeis']"
        [routerLinkActive]="'active'"
        queryParamsHandling="merge">
        <span class="icon-papeis"></span>
        Papéis
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./peso']"
        [routerLinkActive]="'active'"
        queryParamsHandling="merge">
        <span class="icon-peso"></span>
        Peso político
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./redes-sociais']"
        [routerLinkActive]="'active'"
        queryParamsHandling="merge">
        <span class="icon-redes"></span>
        Redes sociais
      </a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="pt-4">
    <router-outlet></router-outlet>
  </div>
</div>
