<div class="container">

  <div class="parlamentar">
    <div class="row gutters-sm">
      <div class="col-auto">
        <div class="foto-parlamentar">
          <img [src]="urlFoto">
        </div>
      </div>
      <div *ngIf="parlamentar" class="col">
        <div class="parlamentar-titulo">{{ parlamentar.nome_autor }}</div>
        <p>
          {{ parlamentar.partido }}/{{ parlamentar.uf }}
        </p>
      </div>
    </div>
  </div>

  <div class="parlementar-subnav">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link nav-link-parlamentar"
          [routerLink]="['./atividades']"
          [routerLinkActive]="'active'"
        >
        Atividade No Congresso
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link nav-link-parlamentar"
          [routerLink]="['./papeis']"
          [routerLinkActive]="'active'"
        >
        Papéis Importantes
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link nav-link-parlamentar"
          [routerLink]="['./peso']"
          [routerLinkActive]="'active'"
        >
          Peso político
        </a>
      </li>
    </ul>
  </div>
  <div class="parlamentar-pages container">
    <router-outlet></router-outlet>
  </div>

  <!--<app-peso-politico></app-peso-politico>

  <app-papeis-importantes></app-papeis-importantes>

  <app-atividade-no-congresso></app-atividade-no-congresso>!-->

</div>
