<div class="container">

  <div class="parlamentar">
    <div class="row gutters-sm">
      <div class="col-auto">
        <div class="foto-parlamentar">
          <img [src]="urlFoto">
        </div>
      </div>
      <div class="col">
        <div class="parlamentar-titulo">{{ parlamentar.nome_autor }}</div>
        <p>
          {{ parlamentar.partido }}/{{ parlamentar.uf }}
        </p>
      </div>
    </div>
  </div>

  <div class="card-detalhes card-peso-politico">
    <h5 class="card-titulo">Peso Político</h5>
    <div class="card-corpo">
      <app-avaliacao
        nivel="Conhecida"
        valor="1"
        ehGrande=true></app-avaliacao>
    </div>
  </div>

  <div class="card-detalhes card-papeis-importantes">
    <h5 class="card-titulo">Papéis Importantes</h5>
    <div class="card-corpo"></div>
  </div>

  <div class="card-detalhes card-atividade-congresso">
    <h5 class="card-titulo">Atividade No Congresso</h5>
    <div class="card-corpo">
      <div
        id="vis-atividade-parlamentar"></div>
      <div [hidden]="!proposicoes">
        <br>
        <h6>Documentos <span class="small">(Proposição {{ proposicoes[0].id_leggo }})</span></h6>
        <ul>
          <li
            *ngFor="let proposicao of proposicoes; index as i">
            <a [href]="proposicao.url_inteiro_teor" target="_blank">{{ proposicao.descricao_tipo_documento}} </a>
            <span class="text-muted small">[{{ proposicao.data | date:"dd/MM/yyyy"}}]</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
