$base-color: #20201e;
$base-padding: 0.5rem;

.back-btn {
  display: flex;
  vertical-align: center;
  margin-left: $base-padding;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
}

.back-btn-title {
  padding: $base-padding;
  vertical-align: center;
}

.parlamentar {
  max-width: 600px;
  margin-top: 2 * $base-padding;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3 * $base-padding;

  @media (min-width: 375px) {
    margin-bottom: 0;
  }
}

.foto-parlamentar {
  width: 90px;
  @media (min-width: 576px) {
    width: 100px;
  }
  @media (min-width: 768px) {
    width: 125px;
  }
}

.foto-parlamentar > img {
  width: 100%;
  border: solid 2px $base-color;
}

.info-parent {
  display: grid;
  grid-column-gap: $base-padding;
  grid-row-gap: 0px;
  grid-template-columns: fit-content(100px) 1fr;
  grid-template-rows: 2fr;

  @media (min-width: 375px) {
    grid-template-rows: repeat(2, 1fr);
  }

  > .col1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  > .col2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  > .col3 {
    grid-area: 2 / 1 / 3 / 3;
    @media (min-width: 375px) {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}

.parlamentar-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}

.parlamentar-partido {
  font-size: 20px;
  color: grey;
}

.insignias {
  display: flex;
  justify-content: space-between;
  margin-top: 2 * $base-padding;
}

.card-detalhes {
  border: solid 1.5px $base-color;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.card-detalhes > .card-titulo {
  font-weight: 400;
}

.parlamentar-subnav {
  @media (max-width: 400px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    > .nav {
      flex: 0 0 auto;
    }
  }
}
