<div ng-controller="ngswitchctrl">

    <select
        class="topMenu"
        size="2"
        [(ngModel)]="option"
    >
        <option 
            class="topMenuOption"
            value="lista"
        >
                Lista
        <option 
            class="topMenuOption"
            value="painel" 
        >
                Painel
    </select>
    <div [ngSwitch]="option">
        <ng-template ngSwitchCase="lista">
            <app-lista></app-lista>
        </ng-template>
        <ng-template ngSwitchCase="painel">
            <app-painel></app-painel>
        </ng-template>
    </div>

</div>