.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: .9rem;
}
.page-link {
    position: relative;
    display: block;
    padding: .55rem .45rem;
    margin-left: -2px;
    line-height: .9;
    color: #20201e;
    background-color: #fff;
    border: 2px solid #fff;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0;
}
