<div class="trajetoria-politica">
  <section class="mandatos-filiacoes">
    <div>Mandatos</div>
    <div>Filiações</div>
  </section>

  <section class="timeline">
    <div class="time-lapse" data-years="2018,2015">
      <div class="left-side">
        <div class="mandato-block">
          <div class="cargo">Deputado Federal</div>
          <div class="ano">2015 - 2018</div>
        </div>
      </div>

      <div class="right-side">

      </div>
    </div><!-- ./time-lapse -->

    <div class="time-lapse" data-years="2014,2013,2011">
      <div class="left-side">
        <div class="mandato-block">
          <div class="cargo">Deputado Federal</div>
          <div class="ano">2011 - 2014</div>
        </div>
      </div>

      <div class="right-side">
        <div class="filiacao-block">
          <div class="dot">
            <div class="circle"></div>
            <div class="dash"></div>
          </div>

          <div class="descicao">

            Partido Solidariedade <span class="data">(03/10/2013)</span>
          </div>
        </div>

        <div class="filiacao-block">
          <div class="dot">
            <div class="circle"></div>
            <div class="dash"></div>
          </div>

          <div class="descicao">
            Partido Solidariedade <span class="data">(03/10/2013)</span>
          </div>
        </div>

        <div class="filiacao-block">
          <div class="dot">
            <div class="circle"></div>
            <div class="dash"></div>
          </div>

          <div class="descicao">
            Partido Solidariedade <span class="data">(03/10/2013)</span>
          </div>
        </div>
      </div>
    </div><!-- ./time-lapse -->

    <div class="time-lapse" data-years="2009">
      <div class="left-side">

      </div>

      <div class="right-side">
        <div class="filiacao-block">
          <div class="dot">
            <div class="circle"></div>
            <div class="dash"></div>
          </div>

          <div class="descicao">
            Partido Democráta Trabalhista <span class="data">(25/09/2009)</span>
          </div>
        </div>
      </div>
    </div><!-- ./time-lapse -->

    <div class="time-lapse" data-years="2003">
      <div class="left-side">

      </div>

      <div class="right-side">
        <div class="filiacao-block">
          <div class="dot">
            <div class="circle"></div>
            <div class="dash"></div>
          </div>

          <div class="descicao">
            Partido da Social Democracia Brasileira <span class="data">(26/09/2003)</span>
          </div>
        </div>
      </div>
    </div><!-- ./time-lapse -->

  </section>
</div>