<div class="trajetoria-politica" *ngIf="idAutorParlametriaNoSerenata">
  <h3>
    Trajetória Política
    <img [ngbPopover]="alertaTip" triggers="mouseenter:mouseleave" src="/assets/icons/popover_icon.svg" alt="" />
    <ng-template #alertaTip>

    </ng-template>
  </h3>

  <section class="mandatos-filiacoes">
    <div>Mandatos</div>
    <div>Filiações</div>
  </section>

  <section class="timeline">

    <div class="time-lapse">
      <div class="left-side has-arrow">
        <div class="triangle"></div>
      </div>
    </div>

    <div class="time-lapse" *ngFor="let trajetoria of trajetoriaPolitica">

      <div class="left-side">
        <div class="mandato-block" *ngIf="trajetoria.mandato">
          <div class="cargo">{{ trajetoria.mandato.post }}</div>
          <div class="ano">{{ trajetoria.periodo.inicio }} - {{ trajetoria.periodo.fim }}</div>
        </div>
      </div>

      <div class="right-side">
        <div class="afiliacao-block" *ngFor="let afiliacao of trajetoria.afiliacoes">
          <div class="dot">
            <div class="circle"></div>
            <div class="dash"></div>
          </div>

          <div class="descicao">

            {{ afiliacao.party }} <span class="data">({{ dataLocalizadaPtBr(afiliacao.started_in) }})</span>
          </div>
        </div><!-- ./afiliacao-block -->
      </div>
    </div><!-- ./time-lapse -->

  </section>
</div>