<h3 class="titulo-sessao">Temperatura e Pressão</h3>
<div class="row no-gutters">
  <div class="col-md-8 vis-wrapper">
    <app-vis-temperatura-pressao (dataOnChange)="dataOnChange($event)"></app-vis-temperatura-pressao>
  </div>
  <div class="col-md-4">
    <div class="vis-tooltip" *ngIf="filtro?.data">
      <p>
        <strong>
          {{ getSemanaString(filtro?.data) }}
        </strong>
      </p>
      <div class="mb-3">
        <p>
          <strong class="color-temperatura">{{ filtro?.valorTemperatura }}</strong>
          de temperatura
        </p>
        <ul *ngFor="let evento of eventos">
          <li>{{ evento.texto_tramitacao }}</li>
        </ul>
      </div>
      <p>
        <strong class="color-pressao">{{ filtro?.valorPressao }}</strong>
        de pressão
      </p>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
