table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}

.date-field {
  width: 100px;
  white-space: nowrap;
  padding-right: 2rem;
}
