.patrimonio-e-despesas {
  height: 100%;

  .titulo {
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }

  .content-wrapper {
    padding: 1rem;
  }

  .patrimonio-desc-wrapper {
    display: flex;
    gap: 0.5rem;

    .patrimonio-circ {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      background-color: #5a44a0;
    }

    .patrimonio-desc {
      color: #81858D;
      font-size: 12px;
    }
  }
}