<div class="container app-container">
  <div class="app-content">
    <section class="insight">
      <div class="mb-4">
        <span class="text-muted">01/07/2020</span>
        <h1 class="insight-titutlo">Informações para incidência</h1>
        <h2 class="insight-subtitulo">
          <span class="text-muted">Publicado por</span>
          Pulso Público
        </h2>
      </div>
      <div>
        <p>
          O dep. André Figueiredo (PDT/CE apresentou Requerimento 2302/2019, pedindo urgência ao projeto. É fundamental iniciar diálogo com o autor do projeto, Idilvan Alencar (PDT/CE), o atual líder do PDT, dep. Wolney Queiroz (PDT/PE), para que o regime de urgência seja aprovado e estabelecer diálogo com o relator, dep. Ruy Carneiro (PSDB/PB), para influenciar seu parecer, uma vez que ainda não foi apresentado relatório.
        </p>
      </div>
    </section>
    <section class="insight">
      <div class="mb-4">
        <span class="text-muted">06/29/2020</span>
        <h1 class="insight-titutlo">Discursos em plenário</h1>
        <h2 class="insight-subtitulo">
          <span class="text-muted">Publicado por</span>
          Pulso Público
        </h2>
      </div>
      <div>
        <p>
          29/07 - o senador Izalci Lucas (PSDB/DF) usou sua palavra para reiterar o pleito feito na semana passada em relação ao FUNDEB. Segundo o senador, o relator da matéria, senador Flávio Arns (REDE/PR),  já preparou seu relatório, mantendo o texto nos moldes do aprovado pela Câmara dos Deputados (CD). O senador defende que a matéria seja votada de forma simbólica, pois não acredita que algum senador fará qualquer destaque para prejudicar "uma matéria tão importante que ainda depende de muita regulamentação" e fez um apelo e solicitou que os líderes coloquem o FUNDEB em pauta na reunião de 3ª feira (04/08), para que realizem uma votação quase simbólica dessa PEC.
        </p>
      </div>
    </section>
    <section class="insight">
      <div class="mb-4">
        <span class="text-muted">06/29/2020</span>
        <h1 class="insight-titutlo">Discursos em plenário</h1>
        <h2 class="insight-subtitulo">
          <span class="text-muted">Publicado por</span>
          Pulso Público
        </h2>
      </div>
      <div>
        <p>
          Sugerimos que esta matéria receba apoio a sua tramitação por meio de ações junto à presidência da Câmara e dos Líderes, para que seja pautada e aprovada, além do reforço do diálogo já intenso com o gabinete da relatoria, para maior alinhamento à agenda da FMCSV.
        </p>
      </div>
    </section>
  </div>
</div>
