/* You can add global styles to this file, and also import other style files */
/**
 * Importação de fontes padrão
 * Montserrat: 500 Textos em geral
 * Montserrat: 700 Textos fortes (negrito)
 * Roboto: Textos monoespaçados e números de tabelas
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Importação e customização do Bootstrap
@import "./node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";
@import "assets/styles/icons";

.app-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.app-titulo {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.app-content {
  margin: auto;
  max-width: 760px;
}

.titulo-sessao {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.titulo-sessao-com-icone {
  display: flex !important;
  align-items: baseline;
}

.app-badge {
  margin-left: -10px;
  border: solid 2px;
  min-width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 14px;
}

.badge-color-white {
  color: #ffffff;
}

.app-icon {
  font-size: 2rem;
}

.title-icon {
  position: relative;
  top: 6px;
  left: 5px;
  font-size: 2rem;
}

.gutters-sm {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.space-between-bars {
  padding-top: 0.5rem;
}

.app-seletor {
  display: inline-block;
  width: max-content;
  margin-bottom: 0.2rem;
  margin-right: 1rem;
  padding: 0.2rem;
  border: none;
  border-bottom: solid 1.5px $black;
  outline: none;
  background-color: $white;
}

/* Paginação */
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.page-link {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: .9rem;
}
.page-link {
  position: relative;
  display: block;
  padding: .55rem .45rem;
  margin-left: -2px;
  line-height: .9;
  color: #20201e;
  background-color: #fff;
  border: 2px solid #fff;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0;
}
/* Paginação FIM */

.nav-link {

  > [class^="icon-"],
  > [class*=" icon-"] {
    font-size: 1.8rem;
  }

}

/* Árvore de itens */
.arvore {
  margin: 0 0 1rem 1rem;
  padding: 0;
  list-style: none;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 2px solid;
  }

  &.success {
    &:before {
      color: $success;
    }
  }

  &.warning {
    &:before {
      color: $warning;
    }
  }

  &.danger {
    &:before {
      color: $danger;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: -3px;
    top: -8px;
  }

  > li {
    margin: 0;
    padding: 0 1.5em;
    line-height: 2em;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 15px;
      height: 0;
      border-top: 2px solid;
      margin-top: -2px;
      position: absolute;
      top: 1em;
      left: 0;
    }

    &.success {
      &:before {
        color: $success;
      }
    }

    &.warning {
      &:before {
        color: $warning;
      }
    }

    &.danger {
      &:before {
        color: $danger;
      }
    }

    &:last-child:before {
      background: #fff;
      height: auto;
      top: 1em;
      bottom: 0;
    }

    &:after {
      content: "";
      position: absolute;
      left: 9px;
      top: -1px;
    }

  }
}

.arvore-icon {
  margin-right: 0.5rem;
}

.arvore-titulo {
  display: flex;
  align-items: center;
  margin-bottom: -2px;
  margin-left: 1px;
  font-size: 1.1rem;
}
/* Árvore de itens FIM */

.cracha {
  cursor: pointer;
  display: inline-block;
}
