@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?1of2mz');
  src:  url('assets/fonts/icomoon.eot?1of2mz#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?1of2mz') format('truetype'),
    url('assets/fonts/icomoon.woff?1of2mz') format('woff'),
    url('assets/fonts/icomoon.svg?1of2mz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-autor:before {
  content: "\e900";
}
.icon-presidente:before {
  content: "\e902";
}
.icon-comentario:before {
  content: "\e901";
}
.icon-relator:before {
  content: "\e903";
}
.icon-temperatura:before {
  content: "\e904";
}
.icon-relatorio:before {
  content: "\e905";
}
.icon-proposicao:before {
  content: "\e906";
}
.icon-progresso:before {
  content: "\e907";
}
.icon-peso:before {
  content: "\e908";
}
.icon-papeis:before {
  content: "\e909";
}
.icon-painel:before {
  content: "\e90a";
}
.icon-insight:before {
  content: "\e90b";
}
.icon-grafo:before {
  content: "\e90c";
}
.icon-atores:before {
  content: "\e90d";
}
.icon-atividade:before {
  content: "\e90e";
}
.icon-sobre:before {
  content: "\e90f";
}
.icon-ajuda:before {
  content: "\e910";
}
