.vis-rodape {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: .8rem;
}

.legenda {
  padding-left: 3px;
  padding-right: 3px;
}

.cor0 {
  background-color: #6f42c1;
  color: #ffffff;
}

.cor1 {
  background-color: #91DABF;
}

.cor2 {
  background-color: #fd7e14;
}
