<app-loading *ngIf="isLoading | async"></app-loading>
<div [hidden]="isLoading | async">

  <p class="app-votacoes-titulo">
    Votações em cada proposição dentro de {{ nomeInteresse }}
  </p>

  <div class="seletor-de-interesses-wrapper">
    <div class="seletor-interesse-titulo">Filtrar por painel de interesse</div>

    <app-seletor-de-interesses
      [nomeSelecionado]="interesseParam"
      (interesseAlterado)="evtInteresseSelecionado($event)">
    </app-seletor-de-interesses>
  </div>

  <div class="medidas-provisorias-wrapper">
    <div class="medida-provisoria-container">

      <div class="d-flex flex-row">
        <div class="p-2 titulo-medida">Medida Provisória 867/2018</div>
        <div class="p-2"><span>ver mais</span></div>
      </div>

      <div class="d-flex flex-row">
        <div class="p-2 total-votacoes">
          Total de votações: 26
        </div>
      </div>

      <div class="d-flex flex-row">
        <div class="p-2 como-votou-desc">
          Como votou o(a) Deputado(a):
        </div>
      </div>

      <div class="d-flex flex-row votacoes-row-descricao">

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-sim"></div>
              <div class="quantidade">6 x</div>
            </div>

            <div class="vota-desc">Sim</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-nao"></div>
              <div class="quantidade">6 x</div>
            </div>

            <div class="vota-desc">Não</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-liberado"></div>
              <div class="quantidade">6 x</div>
            </div>

            <div class="vota-desc">Liberado</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-abstencao"></div>
              <div class="quantidade">6 x</div>
            </div>

            <div class="vota-desc">Abstenção</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-obstrucao"></div>
              <div class="quantidade">6 x</div>
            </div>

            <div class="vota-desc">Obstrução</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-faltou"></div>
              <div class="quantidade">6 x</div>
            </div>

            <div class="vota-desc">Faltou/não estava em exercício</div>
          </div>
        </div>

        <div class="bloco-exibir-detalhes">
          <i class="arrow arrow-down"></i>
          <span>Exibir detalhes</span>
        </div>
      </div>

      <div class="votacoes-row-parlamentar">
        <div class="d-flex flex-row">
          <div class="p-2 bloco-voto-desc">
            <div>Deputado</div>
            <div>Governo</div>
          </div>

          <div class="d-flex flex-row scroll-lateral">

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="bloco-voto-parlamentar">
                <div class="square vota-sim"></div>
                <div class="circle vota-sim"></div>
                <div class="vota-desc">
                  12/03/20
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
