<app-loading *ngIf="isLoading | async"></app-loading>
<div [hidden]="isLoading | async">

  <p class="app-votacoes-titulo">
    Votações em cada proposição dentro de {{ nomeInteresse }}
  </p>

  <div class="seletor-de-interesses-wrapper">
    <div class="seletor-interesse-titulo">Filtrar por painel de interesse</div>

    <div class="seletor-de-tema">
      <div class="form-group temas-wrapper">
        <select (change)="onChangeTema($event.target.value)" class="form-control">
          <option
            *ngFor="let tema of temasPerfilParlamentar" [value]="tema.slug"
            [selected]="tema.slug === temaSelecionado"
          >
            {{tema.tema}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="medidas-provisorias-wrapper">
    <div
      class="medida-provisoria-container"
      *ngFor="let prop of proposicoesPerfilParlamentar"
    >

      <div class="d-flex flex-row">
        <div class="p-2 titulo-medida">{{prop.projetoLei}}</div>
        <div class="p-2">
          <span>
            <a class="ver-mais" [href]="getUrlProposicao(prop.idProposicao, prop.casa)" target="_blank">ver mais</a>
          </span>
        </div>
        <!--
          Link ver mais
          https://www.camara.leg.br/proposicoesWeb/fichadetramitacao?idProposicao=2201532
        -->
      </div>

      <div class="d-flex flex-row">
        <div class="p-2 total-votacoes">
          Total de votações: {{prop.proposicaoVotacoes.length}}
        </div>
      </div>

      <div class="d-flex flex-row">
        <div class="p-2 como-votou-desc">
          Como votou o(a) {{ tituloDoAtor }}:
        </div>
      </div>

      <div class="d-flex flex-row votacoes-row-descricao">

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-sim"></div>
              <div class="quantidade">{{ contagemVotosPorProposicao[prop.idProposicao]['vota-sim'] }} x</div>
            </div>

            <div class="vota-desc">Sim</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-nao"></div>
              <div class="quantidade">{{ contagemVotosPorProposicao[prop.idProposicao]['vota-nao'] }} x</div>
            </div>

            <div class="vota-desc">Não</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-liberado"></div>
              <div class="quantidade">{{ contagemVotosPorProposicao[prop.idProposicao]['vota-liberado'] }} x</div>
            </div>

            <div class="vota-desc">Liberado</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-abstencao"></div>
              <div class="quantidade">{{ contagemVotosPorProposicao[prop.idProposicao]['vota-abstencao'] }} x</div>
            </div>

            <div class="vota-desc">Abstenção</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-obstrucao"></div>
              <div class="quantidade">{{ contagemVotosPorProposicao[prop.idProposicao]['vota-obstrucao'] }} x</div>
            </div>

            <div class="vota-desc">Obstrução</div>
          </div>
        </div>

        <div class="bloco-votacoes">
          <div class="p-2">
            <div class="d-flex flex-row vote-wrapper">
              <div class="square vota-faltou"></div>
              <div class="quantidade">{{ contagemVotosPorProposicao[prop.idProposicao]['vota-faltou'] }} x</div>
            </div>

            <div class="vota-desc">Faltou/não estava em exercício</div>
          </div>
        </div>

        <div class="bloco-exibir-detalhes" (click)="onClickToggleMostrarDetalhesProposicao(prop.idProposicao)">
          <i [ngClass]="['arrow', 'arrow-'+ (mostrarDetalhesProposicoes[prop.idProposicao] ? 'up' : 'down') ]"></i>
          <span>Exibir detalhes</span>
        </div>
      </div>

      <div class="votacoes-row-parlamentar" [hidden]="!mostrarDetalhesProposicoes[prop.idProposicao]">
        <div class="d-flex flex-row">
          <div class="p-2 bloco-voto-desc">
            <div>Deputado</div>
            <div>Governo</div>
          </div>

          <div class="d-flex flex-row scroll-lateral">

            <div class="p-2" *ngFor="let votacao of prop.proposicaoVotacoes">
              <div class="bloco-voto-parlamentar">
                <div [ngClass]="['square', getVotacaoClass(parlamentarVotos?.votos[votacao.idVotacao], 'parlamentar')]"></div>

                <div [ngClass]="['circle', getVotacaoClass(orientacao?.orientacoes[votacao.idVotacao], 'governo')]"></div>
                <div class="vota-desc">
                  {{ getDataVotacao(votacao.horario) }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
