<div class="subtitle-wrapper">
  <div class="d-flex justify-content-center subtitle">
    <div>
      <app-legend
        [title]="'100-80%'"
        [classe]="'alinhamento-5'"
        [striped]="false"
        [rounded]="true"
      ></app-legend>
    </div>

    <div>
      <app-legend
        [title]="'80-60%'"
        [classe]="'alinhamento-4'"
        [striped]="false"
        [rounded]="true"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'60-50%'"
        [classe]="'alinhamento-3'"
        [striped]="false"
        [rounded]="true"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'50-30%'"
        [classe]="'alinhamento-2'"
        [striped]="false"
        [rounded]="true"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'30-0%'"
        [classe]="'alinhamento-1'"
        [striped]="false"
        [rounded]="true"
      ></app-legend>
    </div>
    <div>
      <app-legend
        [title]="'não calculado'"
        [classe]="'alinhamento-indefinido'"
        [striped]="false"
        [rounded]="true"
      ></app-legend>
    </div>
  </div>
</div>
