<p>home works!</p>
<div class="parlamentar-subnav">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./atores-chave']"
        [routerLinkActive]="'active'"
        queryParamsHandling="merge">
        <span class="icon-atores"></span>
        Atuação parlamentar
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./papeis']"
        [routerLinkActive]="'active'"
        queryParamsHandling="merge">
        <span class="icon-proposicao"></span>
        Proposições
      </a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="py-4">
    <router-outlet></router-outlet>
  </div>
</div>

