.home-page {
  padding: 0;
  margin: 0;

  .painel-cards-wrapper {
    background-image: url(/assets/imgs/homepage-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;

    .row {
      padding: 0;
      margin: 0;
      height: 100%;
    }
  }

  .painel-left {
    display: flex;
    justify-content: center;
  }
  .painel-right {
    display: flex;
    justify-content: center;
  }

  .col-painel {
    opacity: 0.8;
    background: transparent;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;

    img {
      transition: 0.5s;
    }

    &:hover {
      background-color: #34174A;

      .hero-painel {
        img, .card-title, .card-text {
          margin-bottom: 25px;
        }

        img {
          width: 120px;
          height: 120px;
        }

        .card-text {
          font-size: 16px;
        }

        .btn-access-wrapper {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .hero-painel.left-painel {
      padding: 3rem 0rem 3rem 3rem;
    }

    .hero-painel.right-painel {
      padding: 3rem 3rem 3rem 0rem;
    }

    .hero-painel {
      background: transparent;
      border: none;
      margin-top: 5rem;
      width: 480px;

      img, .card-title, .card-text {
        margin-bottom: 50px;
      }

      img {
        width: 200px;
        height: 200px;
      }

      .card-title {
        color: #fff;
      }

      .card-text {
        color: #fff;
      }

      .btn-access-wrapper {
        display: none;

        .btn-access {
          border: solid 1px #fff;
          color: #fff;
          padding: 0.8rem 1.8rem;
        }
      }
    }
  }
}
