<div class="container sobre-container">
  <section class="section mb-4">
    <div class="container">
      <h2>Sobre nós</h2>

      <p>
        Mais de 27 mil proposições tramitam, hoje, no Congresso Nacional. Embora os sites da Câmara e do Senado
        apresentem informações iniciais sobre essas proposições, uma massa de informações é gerada
        diariamente sobre a tramitação, atuação dos parlamentares, discussões, decisões nas comissões entre outros.
      </p>

      <p>
        Muitas dessas informações são publicadas, mas pouco acessíveis: são dados organizados em
        estruturas complexas ou em formatos do tipo PDF. Essas características tornam os dados
        praticamente inacessíveis para máquinas (eles sequer são indexados pelos rastreadores do
        Google) ou dificultam e muito o acesso humano à massa de dados robusta.
      </p>

      <p>
        O Parlametria surgiu do esforço de organizações que trabalham com o monitoramento do
        legislativo para traduzir e dar sentido a essa massa de dados, de forma que a
        sociedade civil possa acompanhar e influenciar os debates que acontecem no Congresso Nacional.
      </p>

      <p>
        As ferramentas e relatórios disponíveis foram desenvolvidos em tecnologias abertas,
        em uma parceria da Open Knowledge Brasil, Dado Capital e o Laboratório Analytics, da Universidade Federal de
        Campina Grande.
      </p>

      <p>
        Com o Parlametria, pretendemos democratizar o acesso às tecnologias e opoder da inteligência de dados para a
        ação cidadã.
      </p>

      <p>
        Navegue pelo site e conheça as ferramentas!
      </p>
    </div>
  </section>

  <section class="section mb-4 imgs-section">
    <div class="container">
      <h4>Realização</h4>

      <div class="row d-flex align-items-center mt-2 imgs-row">
        <div class="col-md">
          <a href="http://dadocapital.org.br" target="BLANK">
            <img src="assets/imgs/logo_dadocapital.jpg" alt="Dado Capital" width="100%" class="img-logo">
          </a>
        </div>

        <div class="col-md">
          <a href="https://ok.org.br" target="BLANK">
            <img src="assets/imgs/logo-okbr.png" alt="Dado Capital" width="100%" class="img-logo">
          </a>
        </div>

        <div class="col-md">
          <a href="analytics.ufcg.edu.br" target="BLANK">
            <img src="assets/imgs/logo-lab-analytics.png" alt="Dado Capital" width="100%" class="img-logo">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section mb-4 imgs-section">
    <div class="container">
      <h4>Apoio</h4>

      <div class="row d-flex align-items-center mt-2 imgs-row">
        <div class="col-md">
          <img src="assets/imgs/ibjl_logo.jpg" alt="Dado Capital" width="100%" class="img-logo">
        </div>

        <div class="col-md">
          <a href="https://www.avina.net" target="BLANK">
            <img src="assets/imgs/logo-fundacao-avina.png" alt="Dado Capital" width="100%" class="img-logo">
          </a>
        </div>

        <div class="col-md">
          <a href="https://www.laudesfoundation.org/br" target="BLANK">
            <img src="assets/imgs/logo-laudes-foundation.png" alt="Dado Capital" width="100%" class="img-logo">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section mb-4 imgs-section">
    <div class="container">
      <h4>Apoio Técnico</h4>

      <div class="row d-flex align-items-center mt-2 imgs-row">
        <div class="col-md">
          <a href="https://brasil.io" target="BLANK">
            <img src="assets/imgs/logo-brasil-io.png" alt="Dado Capital" width="100%" class="img-logo">
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<app-rodape></app-rodape>