.insight-titutlo {
  font-size: 1.8rem;
  font-weight: 700;
}

.insight-subtitulo {
  font-size: 1rem;
}

.insight-hr {
  width: 30px;
  margin-left: 0;
  margin-bottom: 3rem;
  border-top: solid 2px #adb5bd;
}
