$base-color: #20201e;

.filtro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.seletor-ordenacao {
  border: solid 1.5px $base-color;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
}
