<div class="filtro-wrapper mb-4">
  <select
    class="app-seletor"
    #mySelector
    (change)="onChangeCasa($event.target.value)"
    [(ngModel)]="casaSelecionada">
    <option
      *ngFor="let c of casaBusca"
      [value]="c.casa_slug"
      [selected]="c.casa_slug === casaSelecionada">
      {{ c.casa }}
    </option>
  </select>
  <div class="mr-3">nas proposições de</div>
  <select
    class="app-seletor"
    #mySelector
    (change)="onChangeTema($event.target.value)"
    [(ngModel)]="temaSelecionado">
    <option
      *ngFor="let t of temasBusca"
      [value]="t.tema_slug"
      [selected]="t.tema_slug === temaSelecionado">
      {{ t.tema }}
    </option>
  </select>
</div>
<div class="filtro-wrapper mb-4">
  <div class="col-lg-8">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="searchParlamentar"
        [(ngModel)]="nomePesquisado"
        (ngModelChange)="aplicarFiltro()"
        placeholder="Buscar parlamentar..."
      >
    </div>
  </div>
</div>
